.header {
    display: flex;
    height: 6rem;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 0 10vw;
    width: 100%;
}

.header-start {
    width: 80%;
    height: 100%;
    position: relative;
    background-color: var(--light-violet-color);
    display: flex;
    align-items: center;
}

.header-description {
    width: 100%;
    font-size: 1.1rem;
    color: #fff;
    margin-left: 1rem;
}

.gradient-border {
    background: linear-gradient(to left, var(--violet-color), #cf74e6);
    position: absolute;
    width: 100%;
    bottom: 0;

}

.header-border {
    height: 10%;
}

.header-end {
    width: 20%;
    height: 100%;
}

.header-end img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}