.blog-list-main{
    overflow: hidden;
}
.blog-intro-container {
    width: 100%;
    margin: 15vh 0 5vh 0;
    height: fit-content;
    position: relative;
    text-align: center;
}

.blogs-container {
    position: relative;
    width: 100%;
}

.blogs-wrapper {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.blog-link{
    width: 45%;
    height: 65vh;
    overflow: hidden; 
}

.blog-card {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.blog-img-container {
    width: 100%;
    height: 40%;
}

.blog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.blog-info-container {
    width: 100%;
    height: 45%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 5%;
    
}
.blog-author-date{
    color: #aaa;
    height: fit-content;
    font-size: 13px;
}
.blog-card-title{
    width: 100%;
    color: #000;
    font-size: 1rem;
}
.blog-card-description{
    color: #444;
    font-size: 12px;
}
.blog-card-button{
    width: fit-content;
    font-size: 12px;
    background: none;
    border: 1px solid var(--gold-color);
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    /* margin: 0 auto; */
}
.arrow-container{
    position: absolute;
    
}
@media(min-width:1024px){
    .blog-img-container {
        height: 50%;
    }
    .blog-link{
        width: 22.5%;
        height: 30rem; 
    }
    .blog-card-title{
        font-size: 1.5rem;
    }
    .blog-card-description{
        font-size: 15px;
    }
    .blog-card-button{  
        padding: .8rem 2rem;
        margin: 0;
    }
}