@import 'variables.css';

.blog-detail-main {
    margin-top: 11vh;
    margin-bottom: 8vh;
}

.blog-admin-actions-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.blog-admin-actions-dropdown {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    display: flex;
    flex-direction: column;
    top: 80%;
    text-align: center;
    right: 5%;
}

.blog-admin-actions-dropdown-active {
    max-height: 100px;
}

.bx-dots-vertical-rounded {
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
}

.blog-detail-container {
    width: 90%;
    margin: 0 auto;
}

.blog-detail-img-container {
    display: flex;
    justify-content: center;
}

.blog-detail-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.blog-detail-info-container {
    margin: 5% 0;
}

.blog-detail-intro-container {
    margin: 5% 0;
}

.blog-date {
    font-size: 0.875rem;
    color: rgb(94, 93, 93);
    margin-bottom: 3%;
}

.other-img-list {
  height: 250px;
  position: relative;
  background-color: white;
  z-index: 5;
}

.mobile-carousel-container {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    display: flex;
    background-color: white;
    width: 100%;
}

.other-img-container {
    position: absolute;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    transition: transform 1s;
    background-color: transparent; 
}

.img-container-active {
    transform: translateX(0);
}
 
.next-img-container {
    transform: translateX(100%);
    z-index: -1;
}

.prev-img-container {
    transform: translateX(-100%);
} 

.other-img-container img {
    width: 80%;
    height: 90%;
    object-fit: contain;
}



@media (min-width: 768px) {
    .blog-detail-main {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-carousel-container  {
        position: static;
    }

    .other-img-list {
        grid-template-columns: repeat(3, 33.33%);
    }

    .other-img-container {
        position: static;
        width: 70%;
    }

}

@media (min-width: 1024px) {

    .other-img-list {
        grid-template-columns: repeat(3, 33%);
    }

    .other-img-container {
        width: 60%;
    }
    .next-img-container{
        z-index: 0;
    }


}