@import 'variables.css';

.blog-detail-main {
    margin-top: 11vh;
    margin-bottom: 8vh;
    min-height: 700px;
    height: fit-content;
}

.blog-admin-actions-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.blog-admin-actions-dropdown {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    display: flex;
    flex-direction: column;
    top: 80%;
    text-align: center;
    right: 5%;
}

.blog-admin-actions-dropdown-active {
    max-height: 100px;
}
.action-container a{
    border-bottom: 1px solid;
}
.action-container button{
    background: none;
    border: none;
}
/* PARA CONFIRMAR BORRADO DE PRODUCTO */
.update-delete-btn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
    width: 80%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    opacity: 0;
    scale: 0;
    background-color: #fff;
    z-index: 40;
    border-radius: 1rem;
}

.blog-delete-popup-label {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.update-delete-btn-container-active {
    scale: 1;
    opacity: 1;
}

.update-delete-btn-container>button {
    width: 45%;
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

/*  */
.bx-dots-vertical-rounded {
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
}

.blog-detail-container {
    width: 90%;
    margin: 0 auto;
}

.blog-detail-img-container {
    display: flex;
    justify-content: center;
    max-height: 450px;
    max-width: 800px;
    margin: 3% auto;
}

.blog-detail-img-container img {
    width: 100%;

    object-fit: contain;
}

.blog-detail-info-container {
    margin: 5% 0;
}

.blog-detail-intro-container {
    margin: 5% 0;
}

.blog-date {
    font-size: 0.875rem;
    color: rgb(94, 93, 93);
    margin-bottom: 3%;
}

.other-img-list {
    height: 250px;
    position: relative;
    background-color: white;
    z-index: 5;
}

.mobile-carousel-container {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    display: flex;
    background-color: white;
    width: 100%;
}

.other-img-container {
    position: absolute;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    opacity: 0;
    transition: transform .7s, opacity .7s;
    background-color: transparent;
}

.img-container-active {
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
}

.next-img-container {
    transform: translateX(100%);
    z-index: -1;
}

.prev-img-container {
    transform: translateX(-100%);
}

.carousel-animation {
    animation: carouselAnimation 4s;
}

@keyframes carouselAnimation {
    25% {
        transform: translateX(-100%);
    }

    26% {
        z-index: -1;
        transform: translateX(100%);
    }
}

.other-img-container img {
    width: 80%;
    height: 90%;
    object-fit: contain;
}



@media (min-width: 768px) {

    .update-delete-btn-container{
        width: 40%;
    }
    .mobile-carousel-container {
        position: static;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .other-img-container {
        position: static;
        width: 45%;
        opacity: 1;
    }

}

@media(min-width: 1024px) {
    .update-delete-btn-container{
        width: 30%;
    }
    .other-img-list {
        height: auto;
        position: relative;
        background-color: white;
        z-index: 5;
    }

}

