.blog-intro-container {
    width: 100%;
    margin: 15vh 0 5vh 0;
    height: fit-content;
    position: relative;
    text-align: center;
}

.blogs-container {
    position: relative;
    width: 100%;
}

.blogs-wrapper {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.blog-link{
    width: 22.5%;
    height: 30rem; 
}

.blog-card {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.blog-img-container {
    width: 100%;
    height: 50%;
}

.blog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.blog-info-container {
    width: 100%;
    height: 45%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 5%;
    
}
.blog-author-date{
    color: #aaa;
    height: fit-content;
}
.blog-card-title{
    width: 100%;
    color: #000;
    font-size: 1.5rem;
    /* height: 50%; */
    /* margin-bottom: ; */
    /* text-align: center; */
}
.blog-card-description{
    color: #444;
}
.blog-card-button{
    width: fit-content;
    background: none;
    border: 1px solid var(--gold-color);
    padding: .8rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}
