.change-password-error-main{
    margin: 10vh 10vw;
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: space-around;
}

.redirect-msg{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}