.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-password-error-box{
    display: flex;
    height: 30vh;
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1{
    font-size: 20px;
}
.redirect-msg{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}