.change-password-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password-form {
    width: 90%;
    max-width: 400px;
    height: 40vh;
    border-radius: 15px;
    /* Aplicar el sombreado */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.form-title{
    font-size: 20px;
}
.change-password-form .field{
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 250px;
    text-align: center;
}
.change-password-form label{
    color: var(--bold-color);
    margin-bottom: 10px;
}
.change-password-form input{
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    border:  1px solid var(--gold-color);
}
.change-password-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.change-password-form button{
    border: 1px solid var(--gold-color);
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--bold-color);
    width: fit-content;
}
.input-logo-container{
    position: relative;
}
.password-btn-toggler{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

@media(min-width:768px){
    .change-password-form {
        width: 60%;
        height: 40vh;
    }
    .form-title{
        font-size: 22px;
    }
    .change-password-form .field{
        width: 60%;
        max-width: unset;
    }
}

@media(min-width:1024px){
    .form-title{
        font-size: 24px;
    }
}