body {
    background-color: #eee;

}

.continue-button.disabled {
    color: #ccc;
    background-color: #eee;
    cursor: unset;
    pointer-events: none;
}

/* Para el loading Animation */
.loading-container {
    align-items: center;
}

.loading-container-active {
    display: flex;
}

.load-wrapp {
    height: 50%;
}

/*  */
/* Para el spinner "CArgando productos.. */
.spinner-overlay {
    position: absolute;
}

/*  */

/* Msg de no hay productos */
.no-products-msg {
    width: 100%;
    text-align: center;
    margin-top: 5vh;
    font-size: 1.4rem;
}

.incomplete-field span {
    color: var(--red-color);
}

.field.incomplete-field>.input {
    border: 1px solid var(--red-color);
}

.checkout-main .select {
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid var(--gold-color);
    padding: 5px 10px;
    width: 100%;
    margin-top: 1vh;
}

.info-step-title .header {
    background-color: #fff;
}

.main {
    display: flex;
    margin-top: 10vh;
    overflow: hidden;
    width: 100%;
}

.view {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    flex: 0 0 auto;
    transition: all .6s ease;
}


.checkout-header {
    height: 10vh;
    width: 100%;
    margin-bottom: 15vh;
    background-color: #fff;
}

.header-logo-container {
    width: 40%;
    height: 100%;
    margin: 0 auto;
}

.header-logo {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

.product-list-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #fff;
    position: relative;
}

.product-list-header {
    width: 100%;
    height: 2rem;
    display: none;
    justify-content: space-evenly;
    margin: 1vh 0;
}

.product-list-header>p {
    font-size: 14.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-name-label {
    width: 35%;
    justify-content: flex-start !important;
}

.product-price-label {
    width: 25%;
    text-align: center;
}

.product-quantity-label,
.product-subtotal-label {
    width: 20%;
    text-align: center;
}

.product-card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.product-card {
    width: 100%;
    height: 160px;
    display: flex;
    position: relative;
    border-top: 1px solid var(--violet-color);
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-between;

}

.product-card:first-child {
    border: none;
}

.product-card .bx-trash {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--light-violet-color);
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
    font-size: 22px;
}

.product-card .bx-trash-active {
    pointer-events: all;
    opacity: 1;
}

.bx-trash-to-confirm {
    color: grey;
    pointer-events: none;
}

.article-div-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-image-container {
    height: 100%;
    width: 40%;

}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info-delete-container {
    display: flex;
    overflow-x: hidden;
    position: relative;
    height: 100%;
    width: 60%;
}

.product-info-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: padding-right .5s;
}

.product-info-container-active {
    padding-right: 10%;
}


.product-name-container {
    width: 90%;
    height: 15%;
    text-align: center;
    margin-bottom: 5%;
    padding-top: 5%;
}

.product-card .product-price-container {
    width: 100%;
    display: none;
}

.product-quantity-container,
.product-subtotal-container {
    height: 15%;
    width: 100%;
}
.product-subtotal-container {
    height: fit-content;
}
.discount-product-price-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.span-discount-tag{
    color: var(--gold-color);
    padding-bottom: 10px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
.product-quantity-container {
    position: relative;
    margin: 5% 0;
}

.subtract-quantity-btn,
.add-quantity-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s;
}

.subtract-quantity-btn-inactive {
    opacity: 0;
}

.subtract-quantity-btn {
    left: 20%;
    color: #ccc;
}

.add-quantity-btn {
    right: 20%;
}

.product-quantity {
    width: 30%;
    border-radius: 10px;
    outline: none;
    padding: 3px;
    text-align: center;
    border: 1px solid var(--gold-color);
}

.confirm-delete-product-container {
    position: absolute;
    width: 40px;
    height: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -50%;
    transition: right .8s;
}

.confirm-delete-product-container-active {
    right: 0;

}

.confirm-delete-product-container i {
    color: white;
    font-size: 1.8rem;
}


.checkout-total-section {
    width: 100%;
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    height: fit-content;
    position: sticky;
    /* top: 15vh; */
    margin-top: 5vh;
}

.checkout-total-section>* {
    width: 100%;
    height: fit-content;
}

.cart-subtotal-container,
.cart-total-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-subtotal-container>*,
.cart-total-container>* {
    font-weight: 600;
    font-size: 20px;
    margin: 3vh 0;
}

.button-container {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.continue-button {
    padding: 4% 7%;
    outline: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    width: fit-content;
    color: var(--violet-color);
    border: 1px solid var(--gold-color);
}

.continue-shopping-link {
    width: 100%;
    color: #666;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Para los pasos */


.information-wrapper {
    width: 100%;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
}

.info-step-title-container {
    height: 3rem;
    border-left: 2.5px solid var(--gold-color);
    padding-left: 1rem;
    padding-top: .5rem;
}

.info-step-title>.bold {
    margin-right: 1rem;
}

.info-step-title {
    text-transform: uppercase;
}

.step-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.step-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    background-color: #fff;
    position: relative;
}

.step-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.edit-step-btn {
    position: absolute;
    right: 2%;
    top: 2%;
    color: var(--violet-color);
    cursor: pointer;
    font-size: 26px;
}

.field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
    margin-bottom: 2.5vh;
}

.field>label,
.step-container .label {
    width: 100%;
}

.field>.input {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid var(--gold-color);
    padding: 5px 10px;
    margin-top: 1vh;
}



/* Para el inputPhone */
.prefix-phone {
    width: 30%;
    font-size: 11px;
    border-radius: 1rem;
    border: 1px solid var(--gold-color);
    outline: none;
    height: fit-content;
    padding: 5px 0;
    margin-top: 1vh;
    cursor: pointer;
}

#phone {
    width: 70%;
}

/*  */

.step-container .button-container {
    text-align: center;
    width: 100%;
}

.continue-procedure-button {
    padding: 1% 2%;
}

.delivery-option-field {
    justify-content: center;
}

.delivery-option-box {
    /* border: 1px solid; */
    border-radius: 2rem;
    padding: .6rem 1.4rem;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    color: #000;
    transition: all .4s ease;
}

.delivery-option-box-active {
    background-color: var(--gold-color);
    color: #fff;
    z-index: 1;
}

.delivery-option-box:first-child {
    left: 1%;
}

.delivery-option-box:nth-child(2) {
    right: 1%;
}

/* Zip-Code */
.zip-code-field {
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 6%;
}

.zip-code-field .label {
    font-size: 15px;
    width: fit-content;
}

#billing_zip-code,
#shipping_zip_code {
    width: 4rem;
}

.checkbox-field {
    flex-wrap: nowrap;
}

.checkbox-field>* {
    cursor: pointer;
}

.shipping-address-p {
    margin-top: 5px;
    font-size: 18px;
    color: #555;
}

.calculate-delivery-button {
    background-color: #fff;
    border-radius: 1rem;
    padding: 5px 15px;
    font-size: 13px;
    border: 1px solid var(--gold-color);
    cursor: pointer;
}

.step-label {
    margin-bottom: 4vh;
    padding-left: 2.5vw;
    font-size: 18px;
}

.use-same-address-field {
    width: 100% !important;
    justify-content: center;
}

.use-same-address-field>label {
    width: fit-content;
    font-size: 14px;
}

/* Short fields */
.short-field {
    width: 50%;
    padding: 0;
}

.field>.short-field {
    margin-bottom: 0;
}

/* Sector productos */
.product-side-cards-wrapper-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background-color: #fff;
    padding: 1% 2%;
    position: sticky;
    top: 12vh;
    margin-bottom: 5vh;
}

.product-side-cards-wrapper-title-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 15px;
}

.product-side-cards-wrapper-title,
.product-side-cards-wrapper-quantity {
    width: 100%;
}

.product-side-cards-wrapper-title {
    font-size: 22px;
}

.product-side-cards-wrapper-quantity {
    font-size: 18px;
}

.product-side-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 360px;
    width: 100%;
}

.product-side-cards-wrapper::-webkit-scrollbar {
    background: #ccc;
    width: 4px;
    border-radius: 2rem;
}

.product-side-cards-wrapper::-webkit-scrollbar:hover {
    background: #999;
}

.product-side-card {
    width: 100%;
    display: flex;
    height: 120px;
    align-items: center;
    border-bottom: 1px solid var(--gold-color);
    border-top: 1px solid var(--gold-color);
}

.product-side-card .image-container {
    width: 25%;
    height: 100%;

}

.product-side-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-side-info-container {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 10px;
}

.product-side-info-container>p {
    text-align: end;
}

.product-side-name,
.product-side-price {
    color: #000;
    font-size: 18px;
}

.product-side-discount-tag-span {
    margin-right: 10%;
    color: var(--gold-color);
    font-size: 14px;
}

.product-side-wrapper-price-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-side-wrapper-row {
    width: 100%;
    display: flex;
}

.product-side-wrapper-row-label {
    width: 30%;
}

.product-side-wrapper-row-price {
    width: 70%;
    text-align: end;
}

.product-side-wrapper-subtotal-row>p {
    font-size: 18px;
}

.product-side-wrapper-total-row>p {
    font-size: 22px;
}

.product-side-wrapper-subtotal-row {
    border-bottom: 1px solid #66666689;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.product-side-cards-wrapper-section .button-container {
    width: 100%;
    margin-bottom: 0;
    margin-top: 3vh;

}

.payment-start-button {
    width: 90%;
    padding: 2% 0;

}

/* Esto es para que le de el background */

/* STEP DE PAYMENT */
.payment-step {
    margin-bottom: 22vh;
}

.payment-logo-container {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    height: fit-content;
}

.box-container {
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 2%;
    transition: background-color .5s;
    cursor: pointer;
    width: 45%;
}

.box-container>input {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

.img-container {
    width: 100%;
    height: 60px;
    display: flex;
}

.img-container>i {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 40px;
    color: #666;
}

.mp-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.payment-logo-label {
    font-size: 17px;
    text-align: center;
}

.payment-field {
    width: 100%;
    justify-content: center;
    position: absolute;
    opacity: 0;
    transition: opacity .5s;
    bottom: -4%;
}

.payment-field-active {
    opacity: 1;
}

.field-label {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1vh;
}

.payment-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 2.5vh;
}

.payment-box i {
    color: rgb(224, 37, 37);
    height: 30px;
    font-size: 30px;
}

.payment-box-image-container {
    width: 100%;
    height: 30px;
}

.payment-box-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* STEPS WRAPPER */
.step-deliver-wrapper>div {
    display: flex;
    flex-direction: column;
}

.step-wrapper {
    width: 100%;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

.step-wrapper-label {
    color: #000;
    margin: 15px 0;
    font-weight: 600;
}

.wrapper-row {
    color: #666;
    margin-bottom: .5rem;
}

@media(min-width:768px) {
    .view {
        justify-content: space-around;
    }
   
    .product-list-section {
        width: 55%;
        padding: 0 2%;
        margin: 5vh 0;
        border-radius: 1rem;
    }

    .checkout-total-section {
        width: 30%;
        padding: 0 2%;
        border-radius: 1rem;
        margin-bottom: 5vh;
    }

    .second-view {
        margin-top: 5vh;
    }

    .step-section {
        width: 50%;
    }

    .product-side-info-container {
        flex-direction: row;
        align-items: center;
    }

    .product-side-wrapper-price-container {
        justify-content: center;
    }

    .product-side-wrapper-row {
        width: 88%;
    }

    .use-same-address-field>label {
        font-size: 17px;
    }

    .box-container {
        width: unset;
    }

    .payment-logo-container {
        margin-bottom: 25vh;
    }

    .field-label {
        margin-bottom: 5vh;
        font-size: 18px;
    }

    .payment-step {
        margin-bottom: 0;
    }

    .payment-logo-label {
        font-size: 20px;
    }
}

@media(min-width:1024px) {
    .view {
        padding: 0 5vw;
    }
    .discount-product-price-container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .span-discount-tag{
        padding: 0;
    }
    .second-view {
        margin-top: 2.5vh;
    }

    .product-list-section {
        width: 55%;
        padding: 0 2%;
        margin: 5vh 0;
        border-radius: 1rem;
    }

    .product-list-header {
        display: flex;
        text-align: center;
    }

    .product-info-delete-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-info-container {
        flex-direction: row;
        width: 100%;
    }

    .article-div-child {
        width: 21.25%;
    }

    .product-card {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .product-card .bx-trash {
        width: 10px;
        left: 15%;
    }

    .product-card-image-container {
        width: 20%;
    }

    .product-name-container {
        width: 21.5%;
        font-size: 1.2vw;
    }

    .product-card .product-price-container {
        display: flex;
        width: 21%;
    }

    .product-quantity {
        margin-left: 7%;
    }

    .add-quantity-btn {
        right: 10%;
    }

    .product-name-label {
        justify-content: center !important;
    }

    .confirm-delete-product-container {
        cursor: pointer;
    }

    .continue-button {
        font-size: 20px;
    }

    .continue-procedure-button {
        padding: 1% 4%;
    }

    .information-wrapper {
        width: 65%;
    }

    .field {
        padding: 0 2.5vw;
    }

    .payment-field {
        width: 100%;
    }



    .delivery-option-box {
        padding: 1rem 2rem;
        font-size: 18px;
    }

    .zip-code-field {
        flex-direction: column;
        column-gap: unset;
        justify-content: unset;
        flex-wrap: wrap;
        margin: 2vh auto;
        row-gap: 1rem;

    }

    .zip-code-field .label {
        text-align: center;
        font-size: 18px;
    }

    #zip-code {
        width: 4rem;
        text-align: center;
    }

    .calculate-delivery-button {
        font-size: 15px;
    }

    .step-container .button-container {
        text-align: end;
        padding-right: 2.5vw;
    }

    .payment-box {
        width: 40%;
    }

    .product-side-cards-wrapper-section {
        width: 30%;
        border-radius: 1rem;
    }

    .product-side-info-container {
        flex-direction: column;
        align-items: unset;
    }

    .product-side-wrapper-price-container {
        justify-content: unset;
    }

    .product-side-wrapper-row {
        width: 100%;
    }
}