@import 'variables.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    overflow-x: hidden;
}

.noScroll {
    overflow: hidden;
    /* pointer-events: none; */
}


.lupa-desktop{
    display: none;
}

.side-navbar-container li {
    list-style: none;
}


.black-screen {
    background-color: rgba(0, 0, 0, .4);
}

.error-msg {
    color: #d00;
    margin-top: 2%;
}

/* MENU HAMBURGUESA */

.burguer-menu-btns-container {
    display: inline;
    width: 12.5%;
    text-align: center;
    position: relative;
}

.open-menu-button {
    pointer-events: auto;
    cursor: pointer;
}

/* MENU  */

.side-navbar-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 110;
    right: 0;
    width: 0;
    overflow: hidden;
    transition: width 350ms ease;
    overflow-y: scroll;
    height: 100%;
}

.side-navbar-container-active {
    width: 100%;
}

.close-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 2%;
    border-bottom: 1px solid rgba(40, 40, 40, .2);
}

.close-menu-button {
    margin-right: 20px;
}

.close-menu-text {
    font-size: 19px;
}

.logged-logo-mobile {
    margin-right: 4%;
}

.burguer-menu-category {
    padding: 0 2rem;
    margin-bottom: 15%;
    border-bottom: 1px solid rgba(40, 40, 40, .2);
}

.burguer-menu-category:first-child {
    margin: 15% 0;
}

.category-link {
    color: #000;
    font-size: 20px;
}

.burguer-menu-category-list {
    padding: 0 6%;
}

.burguer-menu-option-list {
    padding-left: 15%;
}

.burguer-menu-option-list:last-child {
    margin-bottom: 15%;
}

.burguer-menu-option {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0;
    font-size: 15px;
}

.burguer-menu-option a {
    color: #555;
    font-size: 1.2rem;
}

.burguer-menu-option i {
    margin: auto 0;
}

.burger-submenu-back {
    color: rgb(166, 166, 166);
    font-size: 25px;
}

.burger-menu-info-container {
    display: flex;
    flex-direction: column;
    padding: 0 6%;
    margin: 1.5rem;
}

.burger-menu-info-container * {
    color: #000;
}

.burger-menu-item-container:first-child {
    margin-bottom: 1rem;
}

.fa-location-dot,
.bx-phone {
    font-size: 1.25rem;
    margin-right: 0.700rem;
}



/* END MENU HAMBURGUESA */

.header {
    position: fixed;
    width: 100%;
    /* background-color: rgba(255, 255, 255, .1); */
    height: 10vh;
    transition: all .5s ease-out;
    z-index: 11;
    top: 0;
    padding-top: 1vh;
}

.header-hidden {
    /* animation: fadeOutUp .2s ease-in-out; */
    background: none;
    /* visibility: hidden; */

}

.header-active {
    /* Para cuando scrollean para arriba */
    /* animation: fadeInDown .4s ease-in-out; */
    background-color: #fff;
    /* visibility: visible; */
}

.header i {
    font-size: 15px;
    cursor: pointer;
}

.nav-start,
.nav-end {
    width: 35%;
    height: 100%;
    display: flex;
    column-gap: 1.2rem;
    align-items: center;
    position: relative;
}

.nav-start {
    justify-content: flex-start;
    padding-left: 1rem;
}

.nav-end {
    padding-right: 5%;
    justify-content: flex-end;
}

.nav-bar-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.search-container {
    width: 12.5%;
    text-align: center;
    cursor: pointer;
}

.brand-name {
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.header-logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.wishlist-container{
    position: relative;
}

.wishlist-logo {
    font-size: 18px;
}

.login-toggler {
    cursor: pointer;
}


.shopping-cart-container {
    position: relative;
    width: fit-content;
    display: flex;
}
.shopping-cart-desktop{
    display: none;
}
.shopping-cart-container .bx-shopping-bag {
    font-size: 18px;
}
.products-quantity {
    position: absolute;
    color: #000;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    top: -60%;
    right: -50%;
    font-size: .8rem;
}

/* Deslpegable de cuando el usuario este loggeado */
.user-logged-container{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 7rem;
}
.user-logged-container .bx-chevron-down{
    font-size: 22px;
}
.user-logged-name span{
    margin-left: 10px;
}
.logged-menu-container{
    scale: 0;
    opacity: 0;
    transition: scale 1s ease, opacity .3s ease;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .5rem;
    width: 110%;
    background-color: #fefefe;
    border: 1px solid var(--gold-color);
    overflow: hidden;
}
.logged-menu-container-active{
    scale: 1;
    opacity: 1;
    transition: scale .01s ease, opacity .8s ease;
}
.logged-menu-list{
    margin: 10% 5%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
.expandable-list-item{
    overflow: hidden;
}
.create-options-toggler{
    transition: all .3s ease;
}
.create-options-toggler.rotated{
    transform: rotate(90deg);
}
.admin-menu-list{
    display: flex;
    flex-wrap: wrap;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: all .3s linear;
    row-gap: 5px;
    padding-left: 10%;
    margin-top: 6px;

}
.admin-menu-list-active{
    max-height: 100%;
}
.admin-menu-list li{
    font-size: 14px;
    cursor: pointer;
}
.logged-menu-list-item{
    width: 100%;
}
/* MEDIAS QUERIES */

/* TABLET */
@media (min-width:768px) {

    /* MENU */
    .side-navbar-container-active {
        width: 50%;
    }
}

/* MOBILE */
@media (min-width: 1024px) {
    .header{
        padding-top: 0;
    }
    .header-logo{
        width: 50%;
    }
    .lupa-mobile{
        display: none;
    }
    .lupa-desktop{
        display: initial;
    }
    .mobile-category{
        display: none;
    }
    .side-navbar-container-active {
        width: 40%;
    }

    .brand-name {
        font-size: 40px;
        width: 50%;
    }
    .header-logo{
        width: fit-content;
    }
    .nav-start {
        padding-left: 3%;
        justify-content: flex-start;
    }

    .nav-end {
        padding-right: 3%;
        justify-content: flex-end;
    }

    .nav-start,
    .nav-end {
        width: 25%;
        column-gap: 1.8rem;
    }
    .shopping-cart-mobile{
        display: none;
    }
    .shopping-cart-desktop{
        display: flex;
    }
    .shopping-cart-container .fa-bag-shopping {
        font-size: 20px;
    }

    .products-quantity {
        font-size: 16px;
        font-weight: 600;
    }
    .wishlist-container .products-quantity{
        right: -70%;
    }


    .category-link {
        font-size: 24px;
    }

    .burguer-menu-option:hover {
        text-decoration: underline;
        text-decoration-color: #555;
    }

    .info-menu-item {
        margin-top: .6rem;
    }

    .info-menu-item i {
        margin-right: .5rem;
    }

    .info-menu-item a {
        color: #000;
    }


    
}



/* ANIMACIONES */
@keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOutUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}