/* COLOR PICKER */
.login-register-container {
    position: fixed;
    z-index: 200;
    bottom: 0;
    right: 0;
    height: 100%;
    max-width: 100%;
    background-color: #fff;
    transition: all .35s ease;
    margin-right: -100%;
    overflow: hidden;
}

.login-register-container-active {
    margin-right: 0;
}

.login-top {
    height: 8%;
    display: flex;
    border-bottom: 1px solid rgba(200, 200, 200, .4);
}

.login-top-label {
    font-size: 25px;
    width: 100%;
    margin: auto 2%;
    font-weight: 800;
}

.login-label {
    width: 100%;
    /* text-align: center; */
    font-size: 22px;
    font-weight: 600;
}

.login-exit-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    border-left: 1px solid rgba(200, 200, 200, .4);
    cursor: pointer;
}

.login-exit-btn-container:hover {
    background-color: #ccc;
}


.login-exit-btn {
    position: static;
    opacity: 1;
    transform: none;
    cursor: pointer;
}

.login-container {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    height: 60%;
    border-bottom: 1px solid rgba(200, 200, 200, .6);
}

.login-form {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.login-form .input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    height: fit-content;
}

.input-label {
    margin-bottom: 10px;
}

.input {
    border: 1px solid rgba(200, 200, 200, .6);
    padding: 15px 6px;
    outline: none;
    width: 100%;
}

.input-container {
    width: 100%;
}

.relative-input {
    position: relative;
}

.password-btn-toggler {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
    user-select: none;
}

.btn {
    margin-top: 3.5vh;
    width: 100%;
    background: #000;
    color: #fff;
    font-size: 20px;
    height: fit-content;
    padding: 13px;
    cursor: pointer;
}

.forgot-password-link {
    margin-top: 10px;
    color: #000;
    text-decoration: underline;
}

.register-container {
    height: 30%;
    padding: 3vh 2vw;
}

.registration-text {
    margin-top: 12px;
}

/* Logged menu */
.logged-menu-container {
    position: absolute;
    max-height: fit-content;
    z-index: 15;
    background-color: #fff;
    overflow: hidden;
    transition: opacity .5s ease-in-out, border .5s ease-in-out;
    right: 1%;
    top: 80%;
    border-radius: 0.3rem;
    opacity: 0;
    margin-top: -100%;

}

.logged-menu-container-active {
    margin-top: 0%;
    opacity: 1;
    border: 0.2px solid rgba(50, 50, 50, .2);
}

.logged-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logged-menu-list-item {
    padding: .6rem 1rem;
    border-bottom: 0.2px solid rgba(150, 150, 150, .3);
}

.logged-menu-list-item:last-child {
    border-bottom: none;
}

.logged-menu-list-item a {
    color: #000;
}

.login-menu-btn-desktop{
    display: none;
}

.user-logged-name-active {
    border-bottom: 2px solid #000;
}

@media(min-width: 768px) {

    /* COLOR PICKER */
    .login-register-container {
        max-width: 50%;
    }
}

@media(min-width: 1024px) {
    .login-menu-btn-mobile {
        display: none;
    }
    .login-menu-btn-desktop{
        display: block;
    }
    .logged-menu-container{
        right: 8%;
    }
    .login-register-container {
        width: 40%;
    }
    .login-top{
        height: 10%;
    }

}