/* COLOR PICKER */

@import 'variables.css';

.noScroll {
    overflow: hidden;
}

.navbar-container {
    position: fixed;
    z-index: 10000;
    bottom: 100%;
    right: 0;
    left: 0;
    height: 50%;
    background-color: black;
    transition: all .35s ease;
    overflow: hidden;
    width: 100%;
    padding: 5%;
}

.navbar-container-active {
    bottom: 50%;
}

.close-menu-btn-container {
    display: flex;
    justify-content: flex-start;
    height: 10%;
}

.close-menu-btn {
    font-size: 1.2rem;
    color: #fff;
}

.navbar {
    height: 90%;
}

.navbar ul {
    height: 100%;
    width: 100%;
}

.navbar-list-item {
    color: var(--violet-color);
    text-transform: uppercase;
    margin: 8% 0;
    font-weight: 700;
    font-size: 1rem;
}

.navbar-list-item a,
a:visited {
    color: var(--violet-color);
}




@media(min-width: 768px) {

    .navbar-list-item {

        margin: 5% 0;

    }
}


@media(min-width: 1024px) {

    .navbar-container {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 10000;
        left: -100%;
        width: 50%;
        height: 100%;
    }

    .navbar-container-active {
       left: 0;
    }



    .close-menu-btn-container {
        align-items: center;
    }

    .close-menu-btn {
        cursor: pointer;
    }

    .navbar {
        height: 80%;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}