/* COLOR PICKER */

@import 'variables.css';

.noScroll {
    overflow: hidden;
}

.navbar-container {
    position: fixed;
    z-index: 10000;
    bottom: 100%;
    right: 0;
    left: 0;
    height: 50%;
    background-color: white;
    transition: all .35s ease;
    overflow: scroll;
    width: 100%;
    padding: 5%;
    border-bottom: 2px solid var(--gold-color);
}

.navbar-container::-webkit-scrollbar {
    width: 0.1em;
}

.navbar-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.navbar-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.navbar-container-active {
    bottom: 50%;
}

.close-menu-btn-container {
    display: flex;
    justify-content: flex-start;
    height: 10%;
}

.close-menu-btn {
    font-size: 1.2rem;
    color: var(--gold-color);
}

.navbar {
    min-height: 90%;
    height: fit-content;
}

.navbar ul {
    height: 100%;
    width: 100%;
}

.navbar-list-item {
    color: var(--violet-color);
    text-transform: uppercase;
    margin: 8% 0;
    font-weight: 700;
    font-size: 1rem;
}

.navbar-list-item a,
a:visited {
    color: var(--violet-color);
}

.item-dropdown-visible-part {
    cursor: pointer;
}

.dropdown-items-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    padding-left: 5%;
}

.item-dropdown-active>.dropdown-items-container {
    max-height: 200px;
}
.bx-chevron-right{
    transition: all .4s ease;
    font-size: 1.5rem;
}
.item-dropdown-active .bx-chevron-right {
    transform: rotate(90deg);
}

.dropdown-list-item {
    margin: 2% 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    width: 10%;
}

.checkbox-container label {
    color: #fff;
    width: 90%;
}

.send-question {
    width: 95%;
    border: 0;
    outline: 0;
    border: 1px solid var(--gold-color);
    background-color: transparent;
    color: #fff;
    padding: 3% 0;
    margin-top: 3%;
}





@media(min-width: 768px) {

    .navbar-list-item {

        margin: 5% 0;

    }
}


@media(min-width: 1024px) {

    .navbar-container {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 10000;
        left: -100%;
        width: 50%;
        height: 100%;
        border-bottom: 0;
        border-right: 3px solid var(--gold-color);
    }

    .navbar-container-active {
       left: 0;
    }
    .dropdown-items-container {
        transition: max-height 0.3s ease;
        margin-top: 4%;
    }
    .bx-chevron-right{
        transition: all .3s ease;
        font-size: 1.8rem;
    }

    .close-menu-btn-container {
        align-items: center;
        justify-content: flex-end;
    }

    .close-menu-btn {
        cursor: pointer;
        font-size: 2.2rem;
    }

    .navbar {
        min-height: 80%;
        height: fit-content;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .send-question {
       font-size: 1.2rem;
    }

}