.password-label-container {
    position: relative;
}


.password-requirements-list{
    position: absolute;
    z-index: 100;
    transform: translateX(50%);
    width: 80vw;
    max-width: 300px;
    right: 50%;
    background: #fff;
    padding: 5px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: all .5s ease;
    /* margin-top: 200%; */
    opacity: 0;
    scale: 0;
    
}

.password-label-container-active .password-requirements-toggler {
    color: #333;
}
.password-requirements-toggler:hover {
    color: #565656;
}
.password-label-container-active .password-requirements-list {
    opacity: 1;
    scale: 1;
    margin-top: 0;
}

.password-requirements-toggler {
    color: #888;
    cursor: pointer;
}

.password-requirements-item {
    list-style: unset;
}

@media (min-width:768px) {
    .password-requirements-list {
        width: fit-content;
        right: -170%;
        transform: unset;
        max-width: unset;
    }
}