@import 'variables.css';
/* PRODUCT CARD */

.logo-container{
    width: 100%;
}
.logo-container i{
    width: 100%;
}
.product-card-container {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    border: 1px solid  var(--gold-color);
    padding: 3%;
    border-radius: 1rem;
    overflow: hidden;
}
.product-card-link {
    color: #000;
    height: 100%;
}
.image-container {
    height: 75%;
}
.image-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.product-image-test {
    display: flex;
    object-fit: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: opacity .7s,transform .7s;
    opacity: 0;
    object-position: center center;
    border-radius: 1rem;
}

.product-image-test-next-slide {
    transform: translateX(100%);
    z-index: 0;
}

.product-image-test-prev-slide {
    transform: translateX(-100%);
    z-index: 0;
}

.product-image-test-active {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}

.carousel-animation {
    animation: carouselAnimation 4s;
}

@keyframes carouselAnimation {
    25% {
        transform: translateX(-100%);
    }
    26% {
        z-index: -1;
        transform: translateX(100%);
    }
}

.product-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* PRODUCT INFO */
.product-info-container {
    display: flex;
    justify-content: center;
    /* margin-top: 1rem; */
    height: 25%;
}

/* NOMBRE Y PRECIO */
.price-name-container {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-card-container .product-name,
.product-card-container .product-price {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: initial;
}
.product-card-container .product-name{
    font-weight: 600;
    font-size: 12.5px;
}
/* QUICK ACTIONS */

.quick-cart-container{
    position: absolute;
    font-size: 20px;
    width: 20%;
    right: 5%;
    text-align: center;
    z-index: 5;
    bottom: 2%;
}

.quick-cart-container-active{
    z-index: -1;
}
.load-wrapp{
    position: relative;
}
.load-3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media(min-width:768px) {
    .product-card-container{
        max-width: 180px;
    }
}
@media(min-width:1024px) {
    .product-card-container{
        height: 22rem;
        max-width: unset;
    }
    .image-container {
        height: 80%;
    }
    .product-info-container{
        height: 20%;
    }

    .product-card-container .product-name,
    .product-card-container .product-price {
        font-size: 15px;
        text-align: center;
    }

    

    /* QUICK ACTIONS */
    .product-quick-actions-container {
        overflow: hidden;
        position: absolute;
        top: 72%;
        height: 12%;
        width: 80%;
        background-color: rgba(230,230,230,.85);
        z-index: 1;
        display: flex;
        opacity: 0;
        transition: opacity .1s ease;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1rem;
        border: 1px solid var(--gold-color);
    }

    .product-card-container:hover .product-quick-actions-container{
        opacity: 1;
    }

    .quick-cart-container {
        position: static;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        font-size: 24px;
        transition: all .3s ease;
    }

    .quick-cart-container-active{
        transform: translateX(-200%);
    }

    /* .quick-cart-container:hover {
        background-color: #eee;
    } */
}