@import 'variables.css';

.product-detail-main {
    margin-top: 11vh;
}

.admins-actions-container {
    width: 90%;
    margin: 5% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.action-container {
    width: 48%;
    padding: 5px 3px;
    border: 1px solid var(--violet-color);
    text-align: center;
    cursor: pointer;
    max-width: 200px;
}

.admins-actions-container button {
    border: 0;
    outline: 0;
    background: none;
}

.admins-actions-container button,
.admins-actions-container a {
    font-size: 1rem;
    cursor: pointer;

}

.first-column {
    height: 23rem;
}

.second-column {
    height: 60%;
}

.main-img-container {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 70%;
    margin: 0 auto;
}

.main-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.other-product-imgs-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5% auto 0;
    height: 25%;
}

.other-img-container {
    /* width: 20%; ESTO SE LO DOY CON JS */
    margin: 0 1%;
    border: 1px solid var(--gold-color);
    /* border-radius: 10px; */
}

.other-img-container img,
.other-img-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.other-img-container-active {
    opacity: 0.5;
}

.product-detail-info-container {
    height: 100%;
    width: 85%;
    margin: 0 auto;
}

.product-title-container {
    margin: 8% 0;
}

.product-title {
    color: black;
}

h1.product-title {
    margin-bottom: 3%;
}

.product-description-container {
    margin: 8% 0;
}

.purchase-product-container {
    display: flex;
    width: 85%;
    margin: 8% auto;
    position: relative;
}

.item-quantity {
    height: 100%;
    width: 10%;
    text-align: center;
}

.cart-options-btn {
    border: 0;
    outline: 0;
    padding: 3% 5%;
    background-color: var(--violet-color);
    color: #fff;
    border-radius: 1rem;
    width: 50%;
    cursor: pointer;
}

/* Spinner de cargando */
.loading-container {
    width: 50%;
    border-radius: 1rem;
}

.product-container .remove-cart-product {
    background: none;
    border: 1px solid var(--light-violet-color);
    color: var(--violet-color);
}

.input-error {
    border: 1px solid red;
}

.suggested-product-section {
    width: 90%;
    margin: 0 auto;
}

.suggested-product-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.suggested-product-title-container {
    width: 85%;
    margin: 7% auto 4%;
}

.suggested-product-title-container h2 {
    font-size: 1.2rem;
    text-align: center;
}

.product-card-container.suggested-product-card-detail-container {
    width: 100%;
    max-width: 195px;
}

.product-quick-actions-container.suggested-quick-cart-container .quick-cart-container {
    bottom: 7%;
}

@media(min-width: 576px) {
    .suggested-product-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-card-container.suggested-product-card-detail-container {
        max-width: 200px;
    }

    .product-quick-actions-container.suggested-quick-cart-container .quick-cart-container {
        bottom: 5%;
    }
}

@media(min-width: 768px) {
    .product-container {
        display: flex;
    }

    .first-column {
        width: 60%;
    }

    .second-column {
        width: 40%;
        height: 23rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .product-title-container {
        margin: 4% 0;
        margin-top: 0;
    }

    .product-title-container h1 {
        font-size: 2rem;
    }

    .product-detail-info-container {
        font-size: 1.2rem;
        height: fit-content;
    }

    .cart-options-btn-form {
        display: flex;
        align-items: center;
    }

    .purchase-product-container {
        margin: 0% auto;
    }

    .cart-options-btn {
        font-size: 1rem;
        padding: 1.5% 3%;
        width: 100%;
    }

    .item-quantity {
        height: 95%;
    }


    .suggested-product-title-container {
        margin-left: 0;
    }

    .suggested-product-title-container h2 {
        font-size: 1.4rem;
        text-align: start;
    }

    .suggested-product-list {
        grid-template-columns: repeat(3, 33.33%);
    }
}

@media(min-width: 1024px) {
    .product-container {
        align-items: flex-start;
        justify-content: center;
        width: 90%;
        height: 30rem;
        margin: 0 auto;
    }

    .first-column {
        width: 50%;
        height: 100%;
    }
    .main-img-container {
        width: fit-content;
        height: 70%;
    }
    .other-product-imgs-container {
        margin: 3% auto;
        height: 24%;
    }
    .other-img-container {
        margin: 0;
        cursor: pointer;
        height: 100%;
    }
    .second-column {
        width: 50%;
    }
    
    .product-info-container {
        display: flex;
        /* flex-direction: column; */
    }

    .cart-options-btn {
        cursor: pointer;
        padding: 2% 4%;
        margin-left: 0;
        width: 60%;
    }

    /* Spinner de cargando */
    .loading-container {
        width: 60%;
    }

    .item-quantity {
        height: 100%;
    }

    .suggested-product-title-container {
        margin: 5% 0 2%;
    }

    .suggested-product-title-container h2 {
        font-size: 1.7rem;
    }

    .suggested-product-section {
        width: 85%;
    }

    .suggested-product-list {
        margin: 0;
    }

    .product-card-container.suggested-product-card-detail-container {
        max-width: 290px;
        width: 32%;
        height: fit-content;
        padding: 1%;
    }

    .image-container.suggested-image-container {
        height: 270px;
    }

    .suggested-logo-container {
        margin-bottom: 5%;
    }

    .product-quick-actions-container.suggested-quick-cart-container {
        top: 65%;
    }

    .product-info-container.suggested-product-info-container {
        /* padding-top: 20%; */
    }

}