@import 'variables.css';

.product-detail-main {
    margin-top: 11vh;
}

.admins-actions-container {
    width: 90%;
    margin: 5% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.action-container {
    width: 48%;
    padding: 5px 3px;
    border: 1px solid var(--violet-color);
    text-align: center;
    cursor: pointer;
    max-width: 200px;
}

.admins-actions-container button {
    border: 0;
    outline: 0;
}

.admins-actions-container button, .admins-actions-container a {
    font-size: 1rem;
    
}

.first-column {
    height: 40%;
}

.second-column {
    height: 60%;
}

.main-img-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    height: 80%;
}

.main-img-container img {
    width: 70%;
    height: 200px;
}


.other-product-imgs-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    height: 20%;
}

.other-img-container {
    width: 20%;
    margin: 0 1%;
    border: 1px solid var(--gold-color);
    /* border-radius: 10px; */
}

.other-img-container img {
    width: 100%;
    height: 100%;
}

.other-img-container-active {
    opacity: 0.5;
}

.product-detail-info-container {
    height: 1000%;
    width: 85%;
    margin: 0 auto;
}

.product-title-container {
    margin: 8% 0;
}

.product-title {
    color: black;
}

h1.product-title {
    margin-bottom: 3%;
}

.product-description-container {
    margin: 8% 0;
}

.purchase-product-container {
    display: flex;
    width: 85%;
    margin: 8% auto;
}

.item-quantity {
    height: 100%;
    width: 10%;
    text-align: center;
}
.cart-options-btn{
    border: 0;
    outline: 0;
    padding: 3% 5%;
    background-color: var(--violet-color);
    color: #fff;
    border-radius: 1rem;
}
.product-container .remove-cart-product{
    background: none;
    border: 1px solid var(--light-violet-color);
    color: var(--violet-color);
}

.input-error {
    border: 1px solid red;
}

.suggested-product-section {
    width: 90%;
    margin: 0 auto;
}

.suggested-product-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.suggested-product-title-container {
    width: 85%;
    margin: 7% auto 4%;
}

.suggested-product-title-container h2 {
    font-size: 1.2rem;
    text-align: center;
}

.product-card-container.suggested-product-card-detail-container {
    width: 100%;
    max-width: 195px;
}

.product-quick-actions-container.suggested-quick-cart-container .quick-cart-container {
    bottom: 7%;
}

@media(min-width: 576px) {
    .suggested-product-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-card-container.suggested-product-card-detail-container {
        max-width: 200px;
    }

    .product-quick-actions-container.suggested-quick-cart-container .quick-cart-container {
        bottom: 5%;
    }
}

@media(min-width: 768px) {
    .main-img-container img {
        width: 70%;
        height: 300px;
    }

    .product-title-container h1 {
        font-size: 2rem;
    }

    .product-detail-info-container {
        font-size: 1.2rem;
    }

    .cart-options-btn-form {
        display: flex;
        align-items: center;
    }

    .cart-options-btn {
        font-size: 1.2rem;
    }

    .item-quantity {
        height: 95%;
    }

    .suggested-product-section {
        /* width: 90%; */
    }

    .suggested-product-title-container {
        margin-left: 0;
    }

    .suggested-product-title-container h2 {
        font-size: 1.4rem;
        text-align: start;
    }

    .suggested-product-list {
        grid-template-columns: repeat(3, 33.33%);
    }
}

@media(min-width: 1024px) {
    .product-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }

    .main-img-container {
        width: 90%;
        height: 100%;
    }

    .main-img-container img {
        height: 325px;
    }

    .first-column {
        width: 50%;
    }

    .second-column {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .product-info-container {
        display: flex;
        /* flex-direction: column; */
    }


    .other-product-imgs-container {
        display: flex;
        justify-content: space-evenly;
        /* column-gap: 2%; */
        width: 90%;
        margin: 3% auto;
        height: 20%;
    }

    .other-img-container {
        margin: 0;
        cursor: pointer;
    }

    .cart-options-btn {
        cursor: pointer;
        padding: 2% 4%;
        margin-left: 0;
        border-radius: 1rem;
    }

    .item-quantity {
        height: 100%;
    }

    .suggested-product-title-container {
        margin: 5% 0 2%;
    }

    .suggested-product-title-container h2 {
        font-size: 1.7rem;
    }

    .suggested-product-section {
        width: 85%;
    }

    .suggested-product-list {
        margin: 0;
    }

    .product-card-container.suggested-product-card-detail-container {
        max-width: 290px;
        width: 70%;
        height: fit-content;
    }

    .product-image-test.product-detail-suggested-media {
        height: 70%;
    }

    .image-container.suggested-image-container {
        height: 270px;
    }

    .suggested-logo-container {
        margin-bottom: 5%;
    }

    .product-quick-actions-container.suggested-quick-cart-container {
        top: 65%;
    }

    .product-info-container.suggested-product-info-container {
        /* padding-top: 20%; */
    }

}