@import 'variables.css';

.product-detail-main {
    margin-top: 11vh;
}

.first-column {
    height: 40%;
}

.second-column {
    height: 60%;
}

.main-img-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    height: 80%;
}

.main-img-container img {
    width: 70%;
    height: 200px;
}


.other-product-imgs-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    height: 20%;
}

.other-img-container {
    width: 20%;
    margin: 0 1%;
    border: 1px solid var(--gold-color);
    border-radius: 10px;
}

.other-img-container img {
    width: 100%;
    height: 100%;
}

.other-img-container-active {
    opacity: 0.5;
}

.product-detail-info-container {
    height: 1000%;
    width: 85%;
    margin: 0 auto;
}

.product-title-container {
    margin: 8% 0;
}

.product-title {
    color: black;
}

h1.product-title {
    margin-bottom: 3%;
}

.product-description-container {
    margin: 8% 0;
}

.purchase-product-container {
    display: flex;
    width: 85%;
    margin: 8% auto;
}

.item-quantity {
    height: 100%;
    width: 10%;
    text-align: center;
}

.add-to-cart {
    border: 0;
    outline: 0;
    padding: 3% 5%;
    background-color: var(--violet-color);
    color: #fff;
    margin-left: 2%;
}

.input-error {
    border: 1px solid red;
}


.suggested-product-title-container {
    width: 85%;
    margin: 0 auto;
}

.suggested-product-title-container h2 {
    font-size: 1.2rem;
}

.suggested-product-card-detail-container {
    width: 70%!important;
    margin-bottom: 0!important;
    margin: 5% auto!important;
}

@media(min-width: 768px) {
    .main-img-container img {
        width: 70%;
        height: 300px;
    }

    .product-title-container h1 {
        font-size: 2rem;
    }

    .product-detail-info-container {
        font-size: 1.2rem;
    }

    .add-to-cart-form {
        display: flex;
        align-items: center;
    }

    .add-to-cart {
        font-size: 1.2rem;
    }

    .item-quantity {
        height: 95%;
    }

    .suggested-product-list {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between!important;
    } 

    .suggested-product-card-detail-container {
        width: 45%!important;
        height: 275px!important;
        margin: 5% 0!important;
    }

}

@media(min-width: 1024px) {
    .product-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }

    .main-img-container {
        width: 90%;
        height: 100%;
    }

    .main-img-container img {
        height: 325px;
    }

    .first-column {
        width: 50%;
    }

    .second-column {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .product-info-container {
        display: flex;
        flex-direction: column;
    }


    .other-product-imgs-container {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 2% auto 5%; 
        height: 20%;
    }

    .other-img-container {
        margin: 0;
        cursor: pointer;
    }

    .add-to-cart {
        cursor: pointer;
    }

    .item-quantity {
        height: 100%;
    }

    .suggested-product-card-detail-container {
        width: 25%!important;
        height: 85%!important;
    }

    .product-detail-suggested-media {
        height: 70%!important;
    }

    .suggested-image-container {
        height: 250px!important;
    }

    .suggested-logo-container {
        margin-bottom: 5%;
    }

    .suggested-quick-cart-container {
        margin-bottom: 15%!important;
    }
    .suggested-product-info-container {
        padding-top: 20%!important;
    }

}