@import 'variables.css';
/* Overlay */
.overlay{
    position: fixed;
    z-index: 100;
    background: rgba(140, 140, 140, .6);
    transition: all 1s ease;
}
.overlay .loading-container{
    background: none;
}
.overlay .load-3{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.overlay-correct{
    background-color: rgba(39, 158, 55, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.overlay-correct-text{
    transition: all 1s ease;
    scale: 0;
    opacity: 0;
    color: #fff;
}
.overlay-correct .overlay-correct-text{
    scale: 1;
    opacity: 1;
}
.overlay-correct-icon{
    font-size: 8rem;
}
.overlay-correct-label{
    font-size: 2rem;
}
.overlay-correct-description{
    font-size: 1.5rem;
    margin-top: 30px;
}
/*  */
.register-sale-main{
    padding: 3% 5%;
}
.register-sale-form{
    display: flex;
    flex-direction: column;
}
.form-label{
    font-size: 18px;
    margin-top: 20px;
}
.register-sale-intro-container {
    margin-top: 12vh;
}

.input-label-container {
    margin: 4% 0;
    display: flex;
    flex-direction: column;
}
.input-label-container>label{
    font-weight: 600;
}
.input-label-container input, .input-label-container select {
    margin-top: 3%;

    width: 50%;
}
.phone-input-container{
    flex-direction: row;
}
.phone-input-container>select{
    width: 40%;
}
.phone-input-container>input{
    width: 60%;
}
.register-sale-btn {
    width: 100%;
    border-radius: 1rem;
    outline: 0;
    border: 1px solid var(--violet-color);
    padding: 1% 0;
}

.order-item-container .input-label-container input, .order-item-container .input-label-container select {
    width: 100%;
    margin-left: 2%;
   
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
}

.search-checkbox-container {
    margin-bottom: 3%;
}

.choose-service-checkbox-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 2%;
    padding: 15px 0;
    justify-content: space-evenly;
    height: 60vh;
    overflow-y: scroll;
    border: 1px solid rgba(200,200,200,.4);
}

.checkbox-label{
    cursor: pointer;
    text-align: center;
    font-size: .8rem;
    padding: 5px;
    border: 1px solid var(--light-violet-color);
    height: fit-content;
    border-radius: 15px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.added-items-container {
    display: flex;
    flex-direction: column;
  
}

.item-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--violet-color);
    padding: 2%;
    margin: 4% 0;
}

.remove-element-container {
    display: flex;
    justify-content: flex-end;
}

.item-container label {
    margin-top: 2%;
}

.item-container input {
    width: 30%;
}

.remove-element {
    cursor: pointer;
}