@import 'variables.css';

.service-detail-main {
    margin-top: 12vh;
    width: 100%;
}

.service-detail-title-container {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.service-detail-title {
    font-size: 1.2rem;
}

.service-detail-cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1650px;
}

.service-detail-card {

    width: 80%;
    border: 1px solid var(--gold-color);
    transition: max-height 0.5s;
    margin: 12% auto;
   padding: 3% 0;
   border-radius: 10px;
    max-height: 315px;
    max-width: 465px;
}

.service-detail-card-active {
    max-height: 1500px;
}

.icon-active {
    display: flex;
}

.icon-inactive {
    display: none;
}

.service-card-content-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.service-info-title {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 4%;
}

.service-info-title h2 {
    color: var(--violet-color);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.bx-plus, .bx-minus {
    font-size: 1.5rem;
    font-weight: 700;
    border: 2px solid var(--gold-color);
    color: var(--violet-color);
    border-radius: 50%;
    cursor: pointer;
}

.service-card-img-container {
    height: 160px;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.service-card-img {
    height: 200px;
    position: absolute;
    top: -35%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.servicio-dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
   text-align: center;
   margin-top: 7%;
   padding: 0 8%;
}

.service-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

.service-time p:first-child {
    font-weight: 700;
    color: var(--violet-color);
    margin-bottom: 5%;
}

.service-time p:last-child {
    background-color: var(--gold-color);
    border-radius: 10px;
    padding: 3px 10px;
}


.servicio-dropdown-active {
    max-height: 800px;
}

.first-column-item-info {
    margin: 10% 0;
}

.first-column-item-info p:first-child {
    margin-bottom: 10%;
}

.first-column-item-info p:last-child {
    width: 70%;
    margin: 3% auto;
    padding: 6% 1%;
    background-color: var(--gold-color);
    border-radius: 5px;
}


/* .service-card-info-container-active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */


.service-card-info-container h2 {
    font-size: 1.2rem;
    margin-bottom: 3%;
}

.service-info-p-container {
    overflow: hidden;
    max-height: 20px;
    transition: max-height 0.3s;
    margin: 5% 0;
}

.service-info-p-container-active { 
    max-height: 300px;
}

.see-more-action {
 
    color: var(--light-violet-color);
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.5s;
}

.see-more-action-inactive {
    opacity: 0;
    pointer-events: none;
}

@media (min-width: 768px) {

    .service-detail-cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .service-detail-card {    
        width: 45%;
        padding: 2% 0;
        margin: 10% auto;
    }

    .service-card-content-wrapper {
        justify-content: space-between;
    }



}

@media (min-width: 1024px) {

    .service-detail-cards-container {
        justify-content: space-between;
        margin: 0 auto;
    }

    .service-detail-card {    
        width: 29%;
        padding: 2% 0;
        margin: 5% auto;
    }
    
    .service-info-title h2 {
        font-size: 1.5rem;
    }

   

    
}


