.error-msg {
    width: 100%;
}

select {
    width: 70%;
    padding-left: 2px;
    cursor: pointer;
}
.unique-email-field{
    display: flex;
    flex-direction: column;
} 
/* ESTILOS PARA PREFERENCES MOBILE */
.mobile-profile-content-wrapper .user-preferences{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .unique-email-field{
    flex-direction: row !important;
} */
.unique-email-field>p{
    width: fit-content !important;
}
.mobile-profile-content-wrapper .user-preferences > *{
    margin: 0;
    height: 18%;
    padding: 3%;
}
.mobile-profile-content-wrapper .user-preferences p{
    margin: 0;
}
/* Boton cambiar contrasena */
.change-password-btn{
    border: 1px solid var(--gold-color);
    background: none;
    border-radius: 1rem;
    padding: 10px;
    color: var(--violet-color);
    cursor: pointer;
}
/* Boton eliminar cuenta */
.destroy-account-btn{
    margin-top: 10px;
    outline: none;
    border: 0;
    color: red;
    cursor: pointer;
}
/*  */
.user-profile-main {
    margin-top: 12vh;
    height: fit-content;
    padding: 0 3%;
    min-height: 75vh;
}

.desktop-profile-content-wrapper {
    display: none;
}

.mobile-profile-content-wrapper {
    display: flex;
    flex-direction: column;
}

.user-profile-title-container h1 {
    font-size: 1.2rem;
}

.profile-option-container {
    width: 90%;
    margin: 5% auto;
    border: 1px solid var(--gold-color);
    height: 300px;
}

.profile-option-title {
    background-color: var(--gold-color);
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0;
}

.profile-selected-list {
    padding: 3%;

}

.profile-field-container {
    display: flex;
    flex-direction: column;
}

.options-selected-container {
    position: relative;
    height: 500px;
    width: 100%;
    border: 1px solid var(--gold-color);
    margin: 5% 0;
}

.profile-selected-field-container {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    padding: 2%;
}

.profile-selected-field-container-active {
    opacity: 1;
    pointer-events: all;
}

.profile-input input {
    padding: 1px 0;
    width: 70%;
}

.input-container-inactive {
    display: none;
}

.input-container-active {
    display: flex;
    flex-wrap: wrap;
}

.span-inactive {
    display: none;
}

.profile-selected-content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.data-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.address-list {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.profile-field-container p {
    text-transform: uppercase;
    margin-right: 3%;
    margin-bottom: 3%;
    font-weight: 700;
    
}
.mobile-profile-content-wrapper .profile-field-container p {
    font-size: .8rem;
}

.phone-field{
    flex-wrap: nowrap;
}
.phone-field .prefix-phone{
    width: 25%;
    margin-right: 5%;
}
.phone-field input{
    width: 40%;
}

.edit-content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}

.edit-content-container .send-user-info-form-btn{
    margin-bottom: 3%;
}

.form-btn,.discard-changes-btn {
    border: 0;
    outline: 0;
    border: 1px solid var(--gold-color);
    width: 70%;
    padding: 3px 0;
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    background: none;
    border-radius: 1rem;
}

.form-btn {
    margin-bottom: 3%;
}

.form-btn-inactive {
    display: none;
    pointer-events: none;
}

.profile-radio-container {
    display: flex;
    margin: 3% 0;
}

.radio-label-container:last-child {
    margin-left: 3%;
}

.profile-options-container {
    width: 100%;
    display: flex;
}

.profile-options-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-option-item {
    text-align: center;
    width: 30%;
    border: 1px solid var(--gold-color);
    padding: 3% 0;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-option-item-active {
    background-color: var(--gold-color);
}

.profile-option-item i {
    font-size: 1.5rem;
    color: black;
}

.update-form-inactive {
    display: none;
}

.update-form-active {
    display: flex;
    flex-direction: column;
}

.profile-radio-p-container{
    display: flex;
    flex-direction: column;
   
}

@media (min-width: 768px) {



    .desktop-profile-content-wrapper {
        display: flex;
    }


    .mobile-profile-content-wrapper {
        display: none;
    }

    .desktop-form {
        width: 100%;
    }

    .options-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .profile-data-title {
        background-color: var(--gold-color);
        text-align: center;
    }


    .profile-data-container {
        width: 33%;

    }

    .profile-option-container {
        height: 100%;
    }

    .profile-field-container p {
        margin-bottom: 5%;
        font-size: .75rem;
    }

    .profile-content-container {
        width: 33%;
    }

    .options-selected-container {
        height: 300px;
        width: 80%;

    }

    .profile-options-container {
        width: 20%;
        margin: 5% 0;
    }

    .profile-options-list {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .profile-option-item {
        width: 95%;
        padding: 15% 0;
        font-size: 1rem;
    }

}

@media (min-width: 1024px) {
    .address-list{
        height: auto;
    }
    .profile-option-item {
        cursor: pointer;
    }

    .profile-field-container {
        margin-top: 2%;
        margin-bottom: 7%;
    }

    .profile-field-container p {
        /* marginb: 0; */
        width: 100%;
    }


    .profile-input input {
        padding: 1px 0;
        width: 70%;
    }
    .phone-field input{
        width: 40%;
    }
    .profile-radio-p-container{
        flex-wrap: wrap;
    }
    .profile-radio-p-container p{
        width: 100%;
        text-transform: initial;
        margin-bottom: 0;
    }
    .edit-content-container{
        margin: 3% 0;
    }
    .form-btn, .discard-changes-btn {
        padding: 8px 0;
        cursor: pointer;
    }



}