.close-user-options-popup{
    position: absolute;
    top: 4%;
    right: 4%;
    cursor: pointer;
    font-size: .8rem;
}
.user-options-popup{
    position: fixed;
    width: 80vw;
    height: 50vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    z-index: 50;
    border-radius: 1rem;
    justify-content: space-between;
    padding: 1% 3%;
    scale: 0;
    transition: all .3s ease;
}
.user-options-popup-active{
    scale: 1;
}
.user-options-header{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.user-options-brand-logo{
    text-align: center;
    font-size: 2rem;

}
.user-options-buttons-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 70%;
}
.user-options-button-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3%;
}
.user-options-button{
    padding: 2.5% 5%;
    background-color: black;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin-bottom: 1%;
    font-size: 1.15rem;
}
.user-options-button-label{
    text-align: center;
    color: #666;
}
.user-options-guest-option{
    text-align: center;
    cursor: pointer;
    width: 100%;
}
@media (min-width: 1024px) {
    .user-options-popup{
        width: 30vw;
        height: 45vh;
    }
}
