@import 'variables.css';

.user-options-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 43vh;
    background-color: #fff;
    border: 1px solid var(--gold-color);
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    z-index: 100;
    scale: 0;
    opacity: 0;
    transition: all .3s ease;
}

.user-options-popup-active {
    scale: 1;
    opacity: 1;
}

.close-user-options-popup,
.back-user-option-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    color: var(--gold-color);
    cursor: pointer;
    z-index: 1;
    width: fit-content;
}

.back-user-option-btn {
    left: 2%;
    scale: 0;
    opacity: 0;
    transition: all .3s ease;
}

.back-user-option-btn-active {
    scale: 1;
    opacity: 1;
}

/* Clase para que se trasladen ambos */
.translate-option-left {
    transform: translateX(-100%);
}

.user-options-first-column,
.login-popup,
.regist-popup {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    transition: all .4s ease;
}

.user-options-first-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user-options-header {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-options-logo-container {
    width: fit-content;
    height: 100%;
}
.user-options-header-logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.user-options-buttons-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-options-button-field {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
}

.user-options-button-field:first-child {
    display: flex;
    align-items: center;
}

.user-options-buttons-container label {
    width: 100%;
    text-align: center;
    margin-bottom: .2rem;
}

.user-options-button-field a {
    height: fit-content;
    width: 80%;
    background-color: #fff;
    border: 1px solid var(--gold-color);
    border-radius: 1rem;
    padding: .5rem 0;
    cursor: pointer;
    text-align: center;
}

@media (min-width:768px){
    .user-options-popup{
        width: 50vw;
    }
}
@media (min-width:1024px) {
    .user-options-popup {
        width: 30vw;
        height: 40vh;
    }
}