@import 'variables.css';

.user-options-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 43vh;
    background-color: #fff;
    border: 1px solid var(--gold-color);
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    z-index: 100;
    scale: 0;
    opacity: 0;
    transition: all .3s ease;
}

.user-options-popup-active {
    scale: 1;
    opacity: 1;
}

.close-user-options-popup,
.back-user-option-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    color: var(--gold-color);
    cursor: pointer;
    z-index: 1;
    width: fit-content;
}

.back-user-option-btn {
    left: 2%;
    scale: 0;
    opacity: 0;
    transition: all .3s ease;
}

.back-user-option-btn-active {
    scale: 1;
    opacity: 1;
}

/* Clase para que se trasladen ambos */
.translate-option-left {
    transform: translateX(-100%);
}

.user-options-first-column,
.login-popup,
.regist-popup {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    transition: all .4s ease;
}

.user-options-first-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user-options-header {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-options-logo-container {
    width: fit-content;
    height: 100%;
}
.user-options-header-logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.user-options-buttons-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-options-button-field {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
}

.user-options-button-field:first-child {
    display: flex;
    align-items: center;
}

.user-options-buttons-container label {
    width: 100%;
    text-align: center;
    margin-bottom: .2rem;
}

.user-options-button-field button {
    height: fit-content;
    width: 80%;
    background-color: #fff;
    border: 1px solid var(--gold-color);
    border-radius: 1rem;
    padding: .5rem 0;
    cursor: pointer;
}

/* Parte del login,regist */
.login-popup,
.regist-popup {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    position: absolute;
    right: -100%;
}

.login-field,
.regist-field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.pass-field {
    position: relative;
}

.pass-field .password-btn-toggler {
    position: absolute;
    right: 3%;
    top: 40%;
    color: #777;
    cursor: pointer;
}

.login-field label,
.regist-field label {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-bottom: .3rem;
    font-size: 1.2rem;
    color: var(--violet-color);
}

.login-field .input,
.regist-field .input {
    width: 80%;
    height: fit-content;
    border: 1px solid var(--gold-color);
    border-radius: 1rem;
    outline: none;
    padding: .5rem;
}

.login-popup .button-container,
.regist-popup .button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-button,
.regist-button {
    width: fit-content;
    text-align: center;
    padding: .5rem;
    margin: 0 auto;
    background-color: #fff;
    color: var(--violet-color);
    border: 1px solid var(--gold-color);
    border-radius: 1rem;
    cursor: pointer;
}

.login-popup .error-msg,
.regist-popup .error-msg {
    width: 100%;
    text-align: center;
}

/* Olvide mi contrasena popup */
.forget-password-btn{
    color: #333;
    margin-top: 10px;
    cursor: pointer;
}

.forget-password-section{
    position: absolute;
    scale: 0;
    transition: all .5s ease;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: white;
    align-items: center;
    justify-content: center;
    padding: 5%;
    z-index: 10;
}
.forget-password-section-active{
    scale: 1;
}
.forget-password-section-title{
    width: 100%;
    font-size: 1.1rem;
    height: fit-content;
    text-align: center;
}
.forget-password-section button,
.forget-password-section input{
    
    height: 2rem;
}
.forget-password-section input{
    border: 1px solid var(--violet-color);
    border-radius: 1rem;
    width: 80%;
    padding-left: 10px;
}
.forget-password-section button{
    border-radius: 1rem;
    border: 1px solid var(--violet-color);
    background: none;
    width: 35%;
    cursor: pointer;
    
}
@media (min-width:768px){
    .user-options-popup{
        width: 50vw;
    }
}
@media (min-width:1024px) {
    .user-options-popup {
        width: 30vw;
        height: 40vh;
    }
}