:root{
    --violet-color: #bc75f2;
    --gold-color: #bba059;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}
input{
    outline: none;
}