:root{
    --light-violet-color: #bc75f2;
    --violet-color: #663399;
    --gold-color: #bba059;
    --red-color: rgb(198, 23, 23);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}
input{
    outline: none;
}
a {
    color: #000;
    text-decoration: none;
}
button{
    color: #000;
}
li {
    list-style: none;
}

.bold {
    font-weight: 600;
}
.violet {
    color: var(--violet-color);
}
.overflow-auto{
    overflow: auto;
}

.hidden {
    display: none !important;
}
.red{
    color: var(--red-color)  !important;
}

/* SACAR FLECHAS INPUT TYPE NUMBER */
/* SACAR FLECHAS INPUT TYPE NUMBER */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;               
    margin: 0;                               

}

input[type=number] {
    -moz-appearance: textfield;
  }
