<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>

        <link rel="stylesheet" href="/css/aboutUs.css">
        <link rel="stylesheet" href="./css/variables.css">
        <!-- <script src="/scripts/aboutUs.js" type="module"></script> -->
        <title>Nosotros</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="about-us-main">
            <div class="about-us-img-container">
                <div class="about-us-intro-container">
                    <h1>Bienvenidos a I Smile</h1>
                </div>
            </div>
            <img class="pattern right-pattern" src="/img/homePage/rightPattern.png" alt="">
            <div class="about-us-info-container">
                <div class="first-intro-container">
                    <p><i>Somos un equipo de profesionales con una larga trayectoria y experiencia en Armonización
                            Facial, Estética Dental y Medicina Regenerativa.</i></p>
                </div>
                <div class="about-us-copies-list">


                    <div class="about-us-copy">
                        <h3 class="about-us-copy-title">Nosotros</h3>
                        <p>Nuestra filosofía es trabajar integrando el conocimiento de cada una de nuestras
                            especialidades
                            logrando que la belleza y el bienestar se encuentren en armonía. Nuestra pasión por la
                            estética
                            y por brindar resultados excepcionales nos impulsa a estar siempre a la vanguardia de los
                            nuevos
                            descubrimientos estéticos y técnicas innovadoras.</p>
                    </div>
                    <div class="about-us-copy">
                        <h3 class="about-us-copy-title">Fundación</h3>
                        <p>Fundada en el año 2014, por la Dra. Inés Añó, con una larga trayectoria en estética, quien
                            creó
                            un nuevo concepto de integración entre cada especialidad con el principal objetivo de
                            obtener
                            resultados armónicos y naturales. </p>
                    </div>
                    <div class="about-us-copy">
                        <h3 class="about-us-copy-title">Misión</h3>
                        <p>Nuestra misión es generar un impacto emocional positivo en nuestros pacientes a través de un
                            cambio estético externo. Al verse mejor los pacientes elevan automáticamente su autoestima;
                            marcando una diferencia en la vida de las personas. Fomentamos el auto cuidado en relación
                            con
                            el amor propio.</p>
                    </div>
                    <div class="about-us-copy">
                        <h3 class="about-us-copy-title">Confianza y comodidad</h3>
                        <p>Nos enorgullecemos de crear un ambiente cálido y acogedor, donde la confianza y la comodidad
                            son
                            primordiales.</p>
                    </div>

                </div>

               

                <!-- <p>Te invitamos a explorar nuestros tratamientos y descubrir cómo podemos ayudarte a sentirte y lucir lo
                    mejor posible.</p> -->
            </div>
            
        </main>
        <img class="pattern left-pattern" src="/img/homePage/leftPattern.png" alt="">
        <%- include('./partials/footer.ejs') %>
</body>

</html>