<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="./css/blogList.css">
        <!-- <script type="module" src="./scripts/indexScript.js"></script> -->
        <title>Blogs</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="main blog-list-main">
            <div class="blog-intro-container">
                <h2 class="blog-title">I SMILE BLOG</h2>
            </div>
            <section class="blogs-container">
                <div class="blogs-wrapper">
                    <a href="./blog/1" class="blog-link">
                        <article class="blog-card">
                            <div class="blog-img-container">
                                <img src="/img/estheticblog1.jpg" class="blog-image" alt="blog-image">
                            </div>
                            <div class="blog-info-container">
                                <p class="blog-author-date">By I SMILE | Apr 21, 2023</p>
                                <h3 class="blog-card-title">La Verdadera Belleza Es Cuando Te Pones A Quien Realmente
                                    Sos💜</h3>
                                <p class="blog-card-description">El momento para sentirte bien es AHORA . Dra. Inés Añó .
                                    Gracias a todos nuestros pacientes por elegirnos y confiar en…</p>
                            </div>
                            <button class="blog-card-button">LEER MAS</button>
                        </article>
                    </a>

                    <a href="./blog/1" class="blog-link">
                        <article class="blog-card">
                            <div class="blog-img-container">
                                <img src="/img/estheticblog2.jpg" class="blog-image" alt="blog-image">
                            </div>
                            <div class="blog-info-container">
                                <p class="blog-author-date">By I SMILE | Apr 21, 2023</p>
                                <h3 class="blog-card-title">Lifting Líquido _ RADIESSE 🤩</h3>
                                <p class="blog-card-description">El momento para sentirte bien es AHORA . Dra. Inés Añó .
                                    Gracias a todos nuestros pacientes por elegirnos y confiar en…</p>
                            </div>
                            <button class="blog-card-button">LEER MAS</button>
                        </article>
                    </a>

                    <a href="./blog/1" class="blog-link">
                        <article class="blog-card">
                            <div class="blog-img-container">
                                <img src="/img/estheticblog3.jpg" class="blog-image" alt="blog-image">
                            </div>
                            <div class="blog-info-container">
                                <p class="blog-author-date">By I SMILE | Apr 21, 2023</p>
                                <h3 class="blog-card-title">DEFINICIÓN MANDIBULAR</h3>
                                <p class="blog-card-description">El momento para sentirte bien es AHORA . Dra. Inés Añó .
                                    Gracias a todos nuestros pacientes por elegirnos y confiar en…</p>
                            </div>
                            <button class="blog-card-button">LEER MAS</button>
                        </article>
                    </a>
                    <a href="./blog/1" class="blog-link">
                        <article class="blog-card">
                            <div class="blog-img-container">
                                <img src="/img/estheticblog4.jpg" class="blog-image" alt="blog-image">
                            </div>
                            <div class="blog-info-container">
                                <p class="blog-author-date">By I SMILE | Apr 21, 2023</p>
                                <h3 class="blog-card-title">MASCULINIZACIÓN FACIAL</h3>
                                <p class="blog-card-description">El momento para sentirte bien es AHORA . Dra. Inés Añó .
                                    Gracias a todos nuestros pacientes por elegirnos y confiar en…</p>
                            </div>
                            <button class="blog-card-button">LEER MAS</button>
                        </article>
                    </a>
        
                </div>
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>