<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/changePasswordError.css">
    <script src="/scripts/redirect.js"></script>
    <title>Error</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main class="main ">
        <section class="change-password-error-box">
            <h1>Lo sentimos, el link al que accediste expiro o es incorrecto</h1>
            <p>Por favor solicite otro (los links tienen 1 hora de duración)</p>
            <p class="last-msg">Si el problema persiste, ponganse en contacto con el soporte</p>
            <p class="redirect-msg"></p>
        </section>
        
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>