<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="./css/error404.css">
     
        <title>No encontrado</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="error-404-container">
        <div class="error-404-title-container">
            <h1>Ups, no encontramos lo que estabas buscando</h1>
        </div>
        <div class="back-to-home-a-container">
            <a href="/">Volver a la página principal</a>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>