<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/orderList.css">
        <script src="/scripts/orderList.js" type="module"></script>
        <title>Ventas</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="main">
            <div class="loading-spinner">
                <p>Cargando Ventas...</p>
                <%- include('./partials/loadingSpinner.ejs') %>
            </div>
            <table class="order-table"> 
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Total</th>
                        <th>Items</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se agregarán las filas con los datos de las ventas -->
                </tbody>
            </table>
            <div class="order-detail-popup"></div>
        </main>

        <%- include('./partials/footer.ejs') %>
</body>

</html>