<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include('./partials/head.ejs') %>
        <title>Compra exitosa</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main class="main">
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>