<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/productDetail.css">
        <script src="/scripts/productDetail.js" type="module"></script>
        <title>Producto #1</title>
</head>

<body>
                <%- include('./partials/header.ejs') %>
                            <main class="product-detail-main">

                            <main>
                                
                            <%- include('./partials/footer.ejs') %>
</body>

</html>