<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <script src="/scripts/services.js" type="module"></script>
        <link rel="stylesheet" href="/css/services.css">
        <link rel="stylesheet" href="/css/variables.css">
        <title>Servicios</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="main">
            <h2 class="services-title page-title">Nuestras Especialidades</h2>
            <div class="service-cards-container">
                <div class="service-card">
                    <div class="service-card-wrapper">
                        <div class="service-card-visible-part">
                            <div class="overlay"></div>
                            <img src="/img/servicios1.jpg" alt="service image" class="service-image">
                            <div class="toggle-dropdown-icons-container">
                                <i class='bx bx-plus-circle toggle-dropdown'></i>
                                <i class='bx bx-minus toggle-dropdown'></i>
                            </div>       
                            <p class="service-label">ESTÉTICA FACIAL</p>
                        </div>
                        <div class="service-card-dropdown">
                            <div class="service-card-dropdown-content-container">
                                <h3>Armonización facial</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Botox</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Cosmetologia y dermatología</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Tratamiento de papada</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Bioestimuladores</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="service-card">
                    <div class="service-card-wrapper">
                        <div class="service-card-visible-part">
                            <div class="overlay"></div>
                            <img src="/img/servicios2.jpg" alt="service image" class="service-image">
                            <div class="toggle-dropdown-icons-container">
                                <i class='bx bx-plus-circle toggle-dropdown'></i>
                                <i class='bx bx-minus toggle-dropdown'></i>
                            </div> 
                            <p class="service-label">MEDICINA REGENERATIVA</p>
                        </div>
                        <div class="service-card-dropdown">
                            <div class="service-card-dropdown-content-container">
                                <h3>Armonización facial</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Botox</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Cosmetologia y dermatología</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Tratamiento de papada</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Bioestimuladores</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="service-card">
                    <div class="service-card-wrapper">
                        <div class="service-card-visible-part">
                            <div class="overlay"></div>
                            <img src="/img/servicios3.jpg" alt="service image" class="service-image">
                            <div class="toggle-dropdown-icons-container">
                                <i class='bx bx-plus-circle toggle-dropdown'></i>
                                <i class='bx bx-minus toggle-dropdown'></i>
                            </div> 
                            <p class="service-label">NUTRICIÓN</p>
                        </div>
                        <div class="service-card-dropdown">
                            <div class="service-card-dropdown-content-container">
                                <h3>Armonización facial</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Botox</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Cosmetologia y dermatología</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Tratamiento de papada</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Bioestimuladores</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="service-card">
                    <div class="service-card-wrapper">
                        <div class="service-card-visible-part">
                            <div class="overlay"></div>
                            <img src="/img/servicios4.jpg" alt="service image" class="service-image">
                            <div class="toggle-dropdown-icons-container">
                                <i class='bx bx-plus-circle toggle-dropdown'></i>
                                <i class='bx bx-minus toggle-dropdown'></i>
                            </div> 
                            <p class="service-label">ESTÉTICA CORPORAL</p>
                        </div>
                        <div class="service-card-dropdown">
                            <div class="service-card-dropdown-content-container">
                                <h3>Armonización facial</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Botox</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Cosmetologia y dermatología</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Tratamiento de papada</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Bioestimuladores</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="service-card">
                    <div class="service-card-wrapper">
                        <div class="service-card-visible-part">
                            <div class="overlay"></div>
                            <img src="/img/servicios5.jpg" alt="service image" class="service-image">
                        
                            <div class="toggle-dropdown-icons-container">
                                <i class='bx bx-plus-circle toggle-dropdown'></i>
                                <i class='bx bx-minus toggle-dropdown'></i>
                            </div> 
                            <p class="service-label">ODONTOLOGÍA</p>
                        </div>
                        <div class="service-card-dropdown">
                            <div class="service-card-dropdown-content-container">
                                <h3>Armonización facial</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Botox</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Cosmetologia y dermatología</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Tratamiento de papada</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                            <div class="service-card-dropdown-content-container">
                                <h3>Bioestimuladores</h3>
                                <p>Es una novedosa técnica realizada con acido
                                    hialuronico que consiste en trabajar sobre áreas.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="service-card">
                    <a href="#">
                        <div class="overlay"></div>
                        <img src="/img/servicios6.jpg" alt="service image" class="service-image">
                        <i class='bx bx-plus-circle plus'></i>
                        <p class="service-label">LASERS & LIGHT</p>
                    </a>
                </div>
                <div class="service-card">
                    <a href="#">
                        <div class="overlay"></div>
                        <img src="/img/servicios7.jpg" alt="service image" class="service-image">
                        <i class='bx bx-plus-circle plus'></i>
                        <p class="service-label">MEN'S SURGERY & CARE</p>
                    </a>
                </div> -->
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>






</body>

</html>