<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <script src="/scripts/services.js" type="module"></script>
        <link rel="stylesheet" href="/css/services.css">
        <title>Servicios</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="main">
            <h2 class="services-title">Nuestras Especialidades</h2>
            <div class="service-cards-container">
                <div class="service-card">
                    <a href="#">
                        <div class="overlay"></div>
                        <img src="/img/servicios1.jpg" alt="service image" class="service-image">
                        <i class='bx bx-plus-circle plus'></i>
                        <p class="service-label">FACIAL SURGERY </p>
                    </a>
                </div>
                <div class="service-card">
                    <a href="#">
                        <div class="overlay"></div>
                        <img src="/img/servicios2.jpg" alt="service image" class="service-image">
                        <i class='bx bx-plus-circle plus'></i>
                        <p class="service-label">RHINOPLASTY</p>
                    </a>
                </div>
                <div class="service-card">
                    <a href="#">
                        <div class="overlay"></div>
                        <img src="/img/servicios3.jpg" alt="service image" class="service-image">
                        <i class='bx bx-plus-circle plus'></i>
                        <p class="service-label">BODY SURGERY</p>
                    </a>
                </div>
                <div class="service-card">
                    <a href="#">
                        <div class="overlay"></div>
                        <img src="/img/servicios4.jpg" alt="service image" class="service-image">
                        <i class='bx bx-plus-circle plus'></i>
                        <p class="service-label">INJECTABLES</p>
                    </a>
                </div>
                <div class="service-card">
                    <a href="#">
                        <div class="overlay"></div>
                        <img src="/img/servicios5.jpg" alt="service image" class="service-image">
                        <i class='bx bx-plus-circle plus'></i>
                        <p class="service-label">FACIALS</p>
                    </a>
                </div>
                <div class="service-card">
                    <a href="#">
                        <div class="overlay"></div>
                        <img src="/img/servicios6.jpg" alt="service image" class="service-image">
                        <i class='bx bx-plus-circle plus'></i>
                        <p class="service-label">LASERS & LIGHT</p>
                    </a>
                </div>
                <div class="service-card">
                    <a href="#">
                        <div class="overlay"></div>
                        <img src="/img/servicios7.jpg" alt="service image" class="service-image">
                        <i class='bx bx-plus-circle plus'></i>
                        <p class="service-label">MEN'S SURGERY & CARE</p>
                    </a>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>






</body>

</html>