<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>

        <link rel="stylesheet" href="/css/terms.css">
        <title>Términos y condiciones</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="terms-conditions-main">
            <h1>Términos y condiciones</h1>
            <div class="terms-conditions-container">
                <ul>
                    <li><i class='bx bxs-circle'></i> Este sitio web (en adelante “website”) es propiedad de I Smile,
                        titular de todos los
                        derechos de industrialización, distribución y comercialización nacional e internacional
                        de la marca de servicios estéticos y sus productos.
                        Términos aplicables para la navegación del sitio de internet www.ismile.com.ar y los
                        servicios que se ofrecen.</li>
                </ul>
                <div class="term-container">
                    <h2>1 <i class='bx bxs-circle'></i> Aceptación y conocimiento de los términos y condiciones.</h2>
                    <ul>
                        <li>Los términos y condiciones que a continuación se exponen son de carácter
                            obligatorio y vinculante, y se aplican a todas las compras y actividades realizadas
                            mediante el website.</li>
                        <li>El uso del website implica el conocimiento y la aceptación de tales términos y
                            condiciones, y los que I Smile unilateralmente establezca en el futuro.</li>
                        <li>Si usted no está de acuerdo con estos términos y condiciones, deberá abstenerse de
                            utilizar el website y/o los servicios por él ofrecidos.</li>
                        <li>Para permitirles a los usuarios una más rápida familiarización con estos términos y
                            condiciones podrán consultar las instrucciones para operar en el website, accediendo
                            al icono correspondiente en la parte inferior de la página de inicio de este.</li>
                        <li>Por “usuario” del website se entiende tanto a los registrados como a los meros
                            visitantes que no estuvieran registrados.</li>
                    </ul>
                </div>
                <div class="term-container">
                    <h2>2 <i class='bx bxs-circle'></i> Modificación de los términos y condiciones.</h2>
                    <ul>
                        <li>Los presentes términos y condiciones podrán ser sustituidos o sufrir modificaciones
                            en cualquier momento a exclusivo criterio de I Smile, sin necesidad de
                            consentimiento de los usuarios. Para las transacciones en curso que hayan
                            comenzado con anterioridad a la implementación de dichas modificaciones,
                            subsistirán las condiciones vigentes al momento de su concertación, a menos que las
                            modificaciones introducidas resulten más convenientes para el usuario.</li>
                        <li>Como única y valida notificación I Smile colocará un aviso en el website durante un
                            tiempo razonable informando a los usuarios sobre estos cambios. Sin perjuicio de lo
                            anterior, los usuarios son responsables de leer estos términos y condiciones cada
                            vez que ingresen al website a fin de verificar la vigencia de estos y/o si se han
                            producido modificaciones.</li>
                    </ul>
                </div>
                <div class="term-container">
                    <h2>3 <i class='bx bxs-circle'></i> Interrupción del servicio. Exclusión de responsabilidad.</h2>
                    <ul>
                        <li>I Smile se reserva el derecho de interrumpir, suspender o modificar en cualquier
                            momento los servicios ofrecidos en el website, ya sea en forma permanente o
                            transitoria, sin requerir conformidad por parte de los usuarios ni necesidad de brindar
                            aviso previo alguno.</li>
                        <li>I Smile no garantiza el acceso o la posibilidad de uso permanente del website, ya que
                            éste puede interrumpirse por cuestiones técnicas ajenas a ella.</li>
                        <li>I Smile no se compromete a cumplir las prestaciones que estuvieran pendientes al
                            momento de la suspensión o interrupción.</li>
                        <li>I Smile no garantiza que el website se encuentre libre de virus o cualquier otro
                            elemento que pueda llegar a dañar o alterar el normal funcionamiento de un
                            ordenador. Es responsabilidad y obligación exclusiva del usuario contar con los
                            antivirus y herramientas adecuadas para detectar, desinfectar y/o prevenir cualquier
                            tipo de elementos y/o posibles daños de esta naturaleza.</li>
                        <li>I Smile no se responsabiliza por ningún daño que pueda producirse en los equipos
                            informáticos de los usuarios o de terceros como consecuencia de la navegación del
                            website, ni por daños y/o perjuicios directos o indirectos, ni mediatos o inmediatos,
                            que pudieran eventualmente ser ocasionados.li>
                    </ul>
                </div>
                <div class="term-container">
                    <h2>4 <i class='bx bxs-circle'></i> Registración.</h2>
                    <ul>
                        <li>Los usuarios pueden navegar libremente por el website, pero deberán estar
                            registrados para poder realizar alguna compra o utilizar los servicios ofrecidos en él.</li>
                        <li>La registración de los usuarios se realiza a través del website y no tiene costo
                            alguno.</li>
                        <li>Es obligatorio completar el formulario en todos los campos con datos válidos y
                            verdaderos, de manera exacta y precisa. Para un correcto funcionamiento del
                            sistema es necesario que los usuarios mantengan sus datos actualizados. I Smile
                            podrá verificar la identidad del usuario y/o la veracidad de los datos consignados.</li>
                        <li>I Smile no se responsabiliza por la veracidad o certeza de los datos provistos por los
                            usuarios. Asimismo, I Smile se reserva el derecho de suspender temporal o
                            definitivamente a los usuarios como así también de rechazar solicitudes de
                            registración en cualquier momento, a su sólo arbitrio y sin necesidad de expresión de
                            causa.</li>
                        <li>Los usuarios accederán a su cuenta personal (la “cuenta”) mediante un “nombre de
                            usuario” y una “clave personal” que deberán allí consignar. En caso de que estos
                            datos sean olvidados por el usuario, I Smile cuenta con un servicio de ayuda para
                            recuperarlos. Para esto el usuario deberá hacer clic en la opción correspondiente e

                            ingresar el e-mail que proporcionó al momento de la registración. Al finalizar, el
                            sistema le enviará a esa cuenta su “nombre de usuario” y la “clave personal”.
                        <li>
                        <li>Los usuarios deben mantener la confidencialidad de su “nombre de usuario” y “clave
                            personal”. Los usuarios son responsables del uso que se haga de su “nombre de
                            usuario” y “clave personal”, y deberán tener presente que, si otras personas tienen o
                            pueden tener en el futuro acceso a la cuenta de e-mail consignada como propia en el
                            “formulario de registración”, éstas también podrían solicitar y/o llegar a conocer su
                            “nombre de usuario” y “clave personal”. Es obligación exclusiva del usuario tomar las
                            medidas pertinentes para que esto no suceda. El usuario se compromete a notificar
                            inmediatamente y de manera fehaciente a I Smile cualquier uso no autorizado de su
                            “nombre de usuario” y/o “clave personal”, y a mantener a I Smile indemne en el caso
                            de que esto le produzca algún daño a ella y/o a terceros.</li>
                        <li>Los datos introducidos pueden ser modificados por el usuario cuando éste lo desee.</li>
                        <li>El usuario podrá navegar por el website moviéndose por cualquiera de sus secciones
                            y podrá elegir el producto que esté interesado en adquirir. Todo artículo está
                            identificado con referencia, imagen, descripción, tallas, colores disponibles,
                            composición y precio.  No obstante, las fotografías pueden presentar variaciones de
                            color en relación con los artículos dependiendo de la calibración del monitor y/o de
                            tamaño de acuerdo con perspectivas</li>
                        <li>El usuario podrá navegar por el website moviéndose por cualquiera de sus secciones
                            y podrá elegir el producto que esté interesado en adquirir. Todo artículo está
                            identificado con referencia, imagen, descripción, tallas, colores disponibles,
                            composición y precio.  No obstante, las fotografías pueden presentar variaciones de
                            color en relación con los artículos dependiendo de la calibración del monitor y/o de
                            tamaño de acuerdo con perspectivas</li>
                        <li>Para efectuar una compra a través del website todo usuario deberá registrarse. La
                            información facilitada se guardará en la base de datos de I Smile con el objetivo de
                            realizar con mayor facilidad y rapidez sus próximas compras. Además, los usuarios
                            que así lo soliciten recibirán por correo electrónico y/o vía postal información y
                            publicaciones de I Smile.</li>

                    </ul>
                    <div class="term-container">
                        <h2>5 <i class='bx bxs-circle'></i> Capacidad.</h2>
                        <ul>
                            <li>Para utilizar los servicios del website se requiere tener capacidad legal para
                                contratar. No podrán adquirir productos en este sitio las personas civilmente
                                incapaces, quienes hayan sido suspendidos o inhabilitados, ni los menores de edad.
                                Los padres, tutores o responsables de los menores de edad o incapaces que utilicen

                                el website serán responsables por dicho uso, incluyendo cualquier cargo, facturación
                                o daño que se derive de ello.</li>

                        </ul>
                    </div>
                </div>
                <div class="term-container">
                    <h2>6 <i class='bx bxs-circle'></i> Política de privacidad de datos personales. Seguridad y
                        tratamiento.</h2>
                    <ul>
                        <li>Para poder utilizar el website de manera eficiente y segura, los usuarios deberán
                            aportar ciertos datos, entre ellos, su nombre y apellido, domicilio, cuenta de e-mail, y
                            documento de identidad, sin los cuales no resulta posible brindar los servicios. Por
                            tal motivo se requiere que éstos sean verdaderos y exactos. Los datos recabados en
                            los formularios correspondientes serán incorporados a la base general de clientes de
                            I Smile.</li>
                        <li>La información personal que los usuarios ingresan en el website será tratada en
                            forma confidencial y I Smile hará su mejor esfuerzo a fin de proteger la privacidad de
                            estos. Encriptamos los datos suministrados para evitar su uso desautorizado y
                            garantizar una operación segura. No obstante, a lo anterior, el usuario deberá tener
                            en cuenta que internet no es un medio inexpugnable en cuanto a su seguridad.</li>
                        <li>Cuando se ingresan datos y números correspondientes a tarjetas de crédito estos
                            son encriptados para que no puedan ser vistos por personas no autorizadas.</li>
                        <li>Los usuarios tendrán el derecho de acceder, actualizar y rectificar los datos
                            ingresados cuando lo deseen. Si se solicitara la supresión de los datos, la misma
                            implicará dejar de ser usuario del sistema. Cualquier usuario del website tendrá
                            derecho a solicitar y obtener información sobre sus propios datos personales que I
                            Smile tenga en su base, quedando la empresa obligada a proporcionar la información
                            solicitada directa y exclusivamente al titular de los datos personales dentro de los
                            diez días corridos de haber sido intimada fehacientemente. Los usuarios también
                            podrán ejercer el derecho de rectificación de sus propios datos personales cuando
                            los datos registrados fueran incorrectos.
                        <li>
                        <li>Los usuarios podrán requerir en cualquier momento la baja de su solicitud y la
                            eliminación de su cuenta de la base de datos.</li>
                        <li>En caso de que los datos sean requeridos por la vía administrativa o judicial
                            correspondiente, I Smile revelará los mismos a la autoridad solicitante. En la medida
                            en que la legislación y normas de procedimiento lo permitan, I Smile tomara medidas
                            para informar a los usuarios sobre estos requerimientos.</li>

                    </ul>
                </div>
                <div class="term-container">
                    <h2>4 <i class='bx bxs-circle'></i> Registración.</h2>
                    <ul>
                        <li>Los usuarios pueden navegar libremente por el website, pero deberán estar
                            registrados para poder realizar alguna compra o utilizar los servicios ofrecidos en él.</li>
                        <li>La registración de los usuarios se realiza a través del website y no tiene costo
                            alguno.</li>
                        <li>Es obligatorio completar el formulario en todos los campos con datos válidos y
                            verdaderos, de manera exacta y precisa. Para un correcto funcionamiento del
                            sistema es necesario que los usuarios mantengan sus datos actualizados. I Smile
                            podrá verificar la identidad del usuario y/o la veracidad de los datos consignados.</li>
                        <li>I Smile no se responsabiliza por la veracidad o certeza de los datos provistos por los
                            usuarios. Asimismo, I Smile se reserva el derecho de suspender temporal o
                            definitivamente a los usuarios como así también de rechazar solicitudes de
                            registración en cualquier momento, a su sólo arbitrio y sin necesidad de expresión de
                            causa.</li>
                        <li>Los usuarios accederán a su cuenta personal (la “cuenta”) mediante un “nombre de
                            usuario” y una “clave personal” que deberán allí consignar. En caso de que estos
                            datos sean olvidados por el usuario, I Smile cuenta con un servicio de ayuda para
                            recuperarlos. Para esto el usuario deberá hacer clic en la opción correspondiente e

                            ingresar el e-mail que proporcionó al momento de la registración. Al finalizar, el
                            sistema le enviará a esa cuenta su “nombre de usuario” y la “clave personal”.
                        <li>
                        <li>Los usuarios deben mantener la confidencialidad de su “nombre de usuario” y “clave
                            personal”. Los usuarios son responsables del uso que se haga de su “nombre de
                            usuario” y “clave personal”, y deberán tener presente que, si otras personas tienen o
                            pueden tener en el futuro acceso a la cuenta de e-mail consignada como propia en el
                            “formulario de registración”, éstas también podrían solicitar y/o llegar a conocer su
                            “nombre de usuario” y “clave personal”. Es obligación exclusiva del usuario tomar las
                            medidas pertinentes para que esto no suceda. El usuario se compromete a notificar
                            inmediatamente y de manera fehaciente a I Smile cualquier uso no autorizado de su
                            “nombre de usuario” y/o “clave personal”, y a mantener a I Smile indemne en el caso
                            de que esto le produzca algún daño a ella y/o a terceros.</li>
                        <li>Los datos introducidos pueden ser modificados por el usuario cuando éste lo desee.</li>
                        <li>El usuario podrá navegar por el website moviéndose por cualquiera de sus secciones
                            y podrá elegir el producto que esté interesado en adquirir. Todo artículo está
                            identificado con referencia, imagen, descripción, tallas, colores disponibles,
                            composición y precio.  No obstante, las fotografías pueden presentar variaciones de
                            color en relación con los artículos dependiendo de la calibración del monitor y/o de
                            tamaño de acuerdo con perspectivas</li>
                        <li>El usuario podrá navegar por el website moviéndose por cualquiera de sus secciones
                            y podrá elegir el producto que esté interesado en adquirir. Todo artículo está
                            identificado con referencia, imagen, descripción, tallas, colores disponibles,
                            composición y precio.  No obstante, las fotografías pueden presentar variaciones de
                            color en relación con los artículos dependiendo de la calibración del monitor y/o de
                            tamaño de acuerdo con perspectivas</li>
                        <li>Para efectuar una compra a través del website todo usuario deberá registrarse. La
                            información facilitada se guardará en la base de datos de I Smile con el objetivo de
                            realizar con mayor facilidad y rapidez sus próximas compras. Además, los usuarios
                            que así lo soliciten recibirán por correo electrónico y/o vía postal información y
                            publicaciones de I Smile.</li>

                    </ul>
                    <div class="term-container">
                        <h2>7 <i class='bx bxs-circle'></i> Veracidad de la información suministrada.</h2>
                        <ul>
                            <li>En caso de que la información o los datos suministrados por el usuario no sean
                                verdaderos, éste será responsable por los daños que este hecho pudiera ocasionar.</li>

                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>8 <i class='bx bxs-circle'></i> Sugerencias y comentarios.</h2>
                        <ul>
                            <li>A sólo y exclusivo arbitrio de I Smile, las sugerencias y comentarios que realice el
                                usuario podrán o no ser tenidas en cuenta, implementadas o adaptadas, con o sin
                                modificaciones, sin que ello en ningún caso genere derecho alguno a favor de tal
                                usuario.</li>

                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>9 <i class='bx bxs-circle'></i> Cookies.</h2>
                        <ul>
                            <li>El website puede utilizar un sistema de seguimiento mediante &quot;cookies&quot;, para
                                que el
                                acceso a la información, al pasar de página en página, se realice con mayor rapidez.
                                También ayuda en algunos casos a identificar a los usuarios, sin necesidad de
                                solicitarles la clave de acceso una y otra vez.</li>
                            <li>Estas cookies son pequeños archivos que envía el website y se alojan en el disco
                                duro del ordenador del usuario, ocupando poco espacio.</li>
                            <li>Se hace saber a los usuarios que utilizando las opciones de su navegador podrán
                                limitar o restringir según su voluntad el alojamiento de estas “cookies”, aunque es
                                desaconsejable restringirlas totalmente.</li>
                            <li>El sistema podrá recoger información sobre las preferencias e intereses de los
                                usuarios. En el caso de que esto ocurra, la información será utilizada exclusivamente
                                con fines estadísticos para mejorar los servicios que se prestan en el website. I Smile
                                aplicará, en la medida en que sea razonablemente posible, procedimientos de
                                disociación de la información de modo que los titulares de los datos sean
                                inidentificables.</li>

                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>10 <i class='bx bxs-circle'></i> Disponibilidad de los productos ofrecidos.</h2>
                        <ul>

                            <li>El precio de los productos que se ofrecen en el website puede no coincidir con
                                aquellos a los cuales los ofrecen los proveedores que abastecen a I Smile o con
                                aquellos a los cuales son ofrecidos en los locales de la marca. Puede tampoco
                                coincidan con la variedad de productos y cantidades de stock existentes en ellos.</li>


                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>11 <i class='bx bxs-circle'></i> Validez de las promociones.</h2>
                        <ul>
                            <li>En el caso de que se realicen promociones de productos, éstas tendrán validez para
                                las compras efectuadas desde la fecha de comienzo de estas, hasta la finalización
                                fijada. Los términos y condiciones de estas serán comunicados en el website, y
                                estarán siempre sujetas a la existencia en stock de los productos ofrecidos.</li>
                            <li>Las promociones que se hagan en el website pueden diferir de aquellas que existan
                                en las tiendas de la marca.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>12 <i class='bx bxs-circle'></i> Impuesto al Valor Agregado (I.V.A.).</h2>
                        <ul>
                            <li>Todos los precios expresados en el website incluyen I.V.A., salvo que se indique lo
                                contrario.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>13 <i class='bx bxs-circle'></i> Garantía y calidad.</h2>
                        <ul>
                            <li>Los productos ofrecidos en este website han sido seleccionados de la colección de la
                                marca, por lo que mantienen el mismo standard de calidad y garantía que los
                                artículos destinados a la venta al público en sus locales exclusivos.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>14 <i class='bx bxs-circle'></i> Cambio o devolución de los productos.</h2>
                        <ul>
                            <li>Todo producto adquirido no se encuentra sujeto a devoluciones o cambios. Todos los
                                productos son hipoalergénicos, no obstante, en caso de aparente reacción alérgica,
                                deberá notificar a I Smile para realizar una consulta física o virtual.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>15 <i class='bx bxs-circle'></i> Moneda de pago.</h2>
                        <ul>
                            <li>Los usuarios podrán optar, a través del comando respectivo, por visualizar los
                                precios de los productos en pesos argentinos, moneda de curso legal de la República
                                Argentina.</li>
                            <li>Una vez cumplimentada la orden de compra, y antes de realizar el pago, se facilitará
                                un resumen final identificando el/los producto/s adquirido/s y su precio total
                                (incluyendo transporte e impuestos).</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>16 <i class='bx bxs-circle'></i> Medios de pago.</h2>
                        <ul>
                            <li>Los pagos podrán realizarse con tarjeta de crédito y/o por los sistemas habilitados
                                por Mercado Pago. I Smile podrá habilitar otras opciones para facilitar las compras
                                de sus clientes.</li>
                            <li>Se pueden abonar los productos por medio de tarjeta de crédito en cuotas cuando así
                                se indique en el website. El usuario podrá ver el importe de las cuotas haciendo clic
                                en “formas de pago”, al pie de la página. En todos los casos regirán los términos y
                                condiciones aplicados por los bancos emisores de la tarjeta de crédito que sea
                                utilizado o por la empresa administradora de la misma.</li>
                            <li>La validez de todos los medios de pago está sujeta a que el importe sea debidamente
                                pagado a I Smile.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>17 <i class='bx bxs-circle'></i> Pago mediante tarjeta de crédito</h2>
                        <ul>
                            <li>Los pagos podrán ser realizados mediante las siguientes tarjetas de crédito y débito
                                indicadas en el website. Toda la información de estas ingresada por el usuario está
                                protegida por el sistema.</li>
                            <li>La confirmación de la compra con tarjeta de crédito estará sujeta a la autorización
                                por parte de la entidad bancaria o financiera emisora de esta.</li>
                            <li>En los pagos con tarjeta de crédito, el pago se realizará en tiempo real a través de la
                                entidad financiera correspondiente. I Smile utiliza sistemas de pago seguro de
                                entidades financieras de primera línea en comercio electrónico, con el objetivo de
                                ofrecer la máxima seguridad. Los datos confidenciales del pago son transmitidos
                                directamente a la entidad financiera correspondiente.</li>
                            <li>El sistema de seguridad empleado salvaguarda todos los datos que los usuarios
                                remitan por internet, incluyendo toda información brindada al formular una orden de
                                compra (incluyendo su nombre, dirección y número de tarjeta de crédito).</li>
                            <li>I Smile se reserva el derecho de comprobar los datos personales facilitados por el
                                cliente y adoptar las disposiciones que considere oportunas (incluida la cancelación
                                del pedido), con el objetivo de colaborar en la prevención del fraude a través de
                                Internet, y para que la mercancía adquirida sea entregada de conformidad con los
                                datos que figuran en el pedido.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>18 <i class='bx bxs-circle'></i> Envío de productos dentro del país.</h2>
                        <ul>
                            <li>Las entregas se realizarán en la dirección que el usuario indique. La veracidad y/o
                                validez de esta es de exclusiva responsabilidad del usuario. No se entregarán
                                órdenes de compra en casillas de correo (P.O.Box).</li>
                            <li>El tiempo de entrega depende de la ubicación y distancia del domicilio de entrega, de
                                los plazos de envío y de la aprobación del medio de pago. Los plazos de entrega que
                                se indiquen en cada caso son estimativos. Los envíos se realizan en toda la
                                República Argentina.</li>
                            <li>Al realizar una compra el usuario recibirá en su casilla de correo electrónico una
                                confirmación de que la orden de pedido ha sido aceptada, junto a un número de
                                pedido.</li>
                            <li>A fin de asegurar la máxima eficacia en las entregas, éstas se realizan por medio de
                                la empresa de Courier Andreani. I Smile se reserva el derecho de modificar
                                unilateralmente el Courier, empresa o medio de transporte, a su exclusivo criterio y
                                sin previo aviso.</li>
                            <li>El tiempo de aprobación varía según el medio de pago. En el caso de las tarjetas de
                                crédito, el usuario deberá verificar que los datos proporcionados para obtener la
                                autorización sean correctos.</li>
                            <li>El tiempo de envío varía según el destino donde se solicite la entrega.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>19 <i class='bx bxs-circle'></i> Horarios de entrega.</h2>
                        <ul>
                            <li>Los productos serán entregados de lunes a viernes, en días hábiles. Los usuarios no
                                podrán elegir ni el horario ni el día en que se entregarán el o los productos
                                adquiridos.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>20 <i class='bx bxs-circle'></i> Dirección de entrega.</h2>
                        <ul>
                            <li>La dirección en donde se entregará el producto será la que el usuario indique en el
                                campo “dirección”, la cual puede no coincidir con su domicilio real. Es
                                responsabilidad del usuario completar y revisar cuidadosamente la información
                                relacionada con la entrega, para que el envío de la compra se haga de manera
                                efectiva y puntual. No se realizan envíos a casillas de correo (P.O. Box).</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>21 <i class='bx bxs-circle'></i> Consulta sobre el estado del envío.</h2>
                        <ul>
                            <li>El estado (&quot;tracking&quot;) del pedido podrá ser consultado en cualquier momento en
                                la
                                página web del Courier, o consultando a I Smile directamente.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>22 <i class='bx bxs-circle'></i> Facturación.</h2>
                        <ul>
                            <li>Junto con el producto se remitirá la boleta correspondiente, indicando los productos
                                adquiridos, la forma y plan de pago, y la moneda utilizada para la transacción. Para
                                el caso que el usuario deseara recibir la factura en otro domicilio, podrá pedirlo a I
                                Smile y le será remitida por correo a la dirección que indique.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>23 <i class='bx bxs-circle'></i> Cancelación de órdenes de compra.</h2>
                        <ul>
                            <li>El usuario no podrá cancelar una orden de compra despachada, en cuyo caso deberá
                                ponerse en contacto con I Smile. Una vez despachada la mercadería no se admitirá
                                ninguna cancelación de compra.</li>
                            </ul>
                    </div>
                    <div class="term-container">
                        <h2>24 <i class='bx bxs-circle'></i> Prohibiciones.</h2>
                        <ul>
                            <li>Se les prohíbe terminantemente a los usuarios: a- enviar archivos o cualquier tipo de
                                información cuyo contenido sea ilegal, obsceno, abusivo, difamatorio, discriminatorio,
                                injurioso o contrario a las buenas costumbres (la presente enumeración es
                                meramente ejemplificativa); b- enviar archivos que contengan virus o cualquier otra
                                característica capaz de dañar el funcionamiento de una computadora, del website o

                                del sistema; c- utilizar el website para violar cualquier tipo de norma vigente; d-
                                consignar datos falsos al momento de registrarse o realizar una compra, o cualquier
                                otro momento en que les sea requerida cualquier tipo de información o datos
                                personales; e- ofrecer productos o servicios; f- usar programas, software o aparatos
                                automáticos o manuales para monitorear o copiar la información o cualquier tipo de
                                contenido del website sin previo consentimiento por escrito de  I Smile.</li>
                            </ul>
                    </div>
                    <div class="term-container">
                        <h2>25 <i class='bx bxs-circle'></i> Derechos reservados. Propiedad intelectual.</h2>
                        <ul>
                            <li>Todos los derechos del presente website están reservados y corresponden a I Smile.</li>
                        <li>El contenido del presente website, incluyendo, aunque no limitado al texto, logos,
                            gráficos, y todo el diseño en general, así como su base de datos y software, es de
                            propiedad de I Smile tiene derecho a usarlo en virtud de licencias de uso otorgadas,
                            y se encuentra protegido por la legislación nacional vigente sobre propiedad
                            intelectual.</li>    
                            <li>Si el usuario considera que en el website se viola o atenta de algún modo contra
                                derechos de propiedad intelectual de terceros deberá notificarlo a I Smile en su sede
                                social, acompañando toda la información y documentación necesaria que respalde la
                                mencionada consideración.</li>
                                <li>I Smile es titular de todos los derechos de industrialización, distribución y
                                    comercialización nacional e internacional de toda clase de productos bajo la
                                    marca de I Smile.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>26 <i class='bx bxs-circle'></i> Razón social y domicilio.</h2>
                        <ul>
                            <li>I Smile tiene su sede social en Paraguay 5008, de la Ciudad Autónoma de Buenos
                                Aires, República Argentina. Y se encuentra inscripta con la C.U.I.T. 30- 7084076-11</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>27 <i class='bx bxs-circle'></i> Notificaciones.</h2>
                        <ul>
                            <li>Todas las notificaciones y/o comunicaciones que deban efectuarse por el uso del
                                website deberán realizarse por escrito: (i) al usuario: mediante correo electrónico, a
                                la cuenta de correo consignada por éste, o por notificación fehaciente dirigida al
                                domicilio declarado en el formulario de registración; (ii) a I Smile mediante
                                notificación fehaciente dirigida a su sede social.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>28 <i class='bx bxs-circle'></i> Avisos publicitarios y links.</h2>
                        <ul>
                            <li>Cuando el usuario hace clic en avisos publicitarios o links de terceros e ingresa en
                                otros sitios que no forman parte del website estará sujeto a los términos y
                                condiciones de dichos sitios. El usuario deberá leer detenidamente sus políticas de
                                acceso y uso.
                                I Smile no garantiza la legalidad, actualidad, calidad ni utilidad de los contenidos,
                                operaciones e informaciones que se comuniquen, reproduzcan y/o realicen en sitios
                                enlazados de terceros ni la ausencia de nocividad de tales contenidos o servicios,
                                por lo que el usuario la exime de toda responsabilidad por los contenidos incluidos en
                                los referidos sitios o los servicios que en ellos se brindan o promocionan.</li>
                        </ul>
                    </div>
                    <div class="term-container">
                        <h2>29 <i class='bx bxs-circle'></i> Ley aplicable.</h2>
                        <ul>
                            <li>Estos términos y condiciones se encuentran regidos, sin excepción y en todos sus
                                puntos, por las leyes de la república argentina y serán interpretados de acuerdo con
                                ellas.</li>
                                <li>Ante cualquier duda, diferencia, desacuerdo o conflicto derivado de la interpretación,
                                    validez, alcance y/o aplicación de los presentes términos y condiciones, los usuarios
                                    deberán comunicarse con I Smile de manera fehaciente, haciéndole llegar su duda o
                                    reclamo.</li>
                                    <li>Los usuarios podrán elegir y someter su reclamo a una de las siguientes opciones e
                                        instancias:</li>
                                        <li>A- Sistema Nacional de Arbitraje de Consumo del Ministerio de Economía y
                                            Producción de la Nación. Los procedimientos ante este sistema son gratuitos, y no es
                                            necesario contar con patrocinio letrado. Asimismo, se garantiza el equilibrio entre las
                                            partes y la transparencia del proceso, y los laudos emitidos por dicho tribunal
                                            adquieren autoridad de cosa juzgada y son irrecurribles (para más información
                                            ingresar a http://www.mecon.gov.ar/snac) o</li>
                                            <li>B- Dirección General de Defensa y Protección del Consumidor del Gobierno de la
                                                Ciudad Autónoma de Buenos Aires (para más información ingresar a
                                                http://www.buenosaires.gov.ar) o</li>
                                                <li>C- Tribunales Ordinarios con asiento en la Ciudad Autónoma de Buenos Aires,
                                                    República Argentina, con competencia en la materia.</li>
                                                    <li>Para el caso que cualquiera de las opciones anteriores fuese gravosas o
                                                        económicamente inviables para usuarios domiciliados en el exterior, las partes, a
                                                        pedido del usuario, determinarán de común acuerdo un mecanismo mutuamente
                                                        conveniente a fin de resolver adecuada y equitativamente sus diferencias.</li>
                                                        <li>Ciudad Autónoma de Buenos Aires, República Argentina.</li>
                                                    </ul>
                    </div>
                </div>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>
</body>

</html>