<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/userBooking.css">
    <!-- Para el logo del navegador -->
    <link rel="icon" type="image/png" href="/img/logo-background.png">
    <title>Agendá tu visita</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <iframe iframe
        src="https://agendapro.com/iframe/overview/STArZTZpT1JTOWtlOW1BNWNnMXRva2Q2QW40S2FwT2dCUTB6TWRnd2dVZz0tLWVWR3ZiVFFwOFcvWkpLdmJqNERGaEE9PQ==--97e92f8834c0fe39730da4a3117834eec0d4ba51"
        width="810" marginwidth="0" marginheight="0" frameborder="no" scrolling="yes" style="border-width:0px"></iframe>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>