<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/changePassword.css">
    <title>Cambiar contraseña</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main class="main change-password-main">
        <form action="/user/change-password/<%= token %>" method="POST">
            <div class="field">
                <label>Nueva contraseña</label>
                <input type="password" name="password">
            </div>
            <div class="field">
                <label>Confirmar contraseña</label>
                <input type="password" name="re-password">
            </div>
            <button type="submit">Cambiar</button>
        </form>
    </main>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>