<!-- Es el header para budget, medicalInfo, etc -->
<header class="header">
    <div class="header-start">
        <p class="header-description">Clínica especializada en estética biológica: dental, facial y corporal</p>
        <div class="header-border gradient-border"></div>
    </div>
    <div class="header-end">
        <img src="/img/logo-background.jpg" alt="header-logo" id="img-logo">
    </div>
</header>