<div class="book-consultation-container">


 

    <div class="h2-booking-title-container">
        <a href="user/booking">Solicitá tu visita médica</a>
    </div>

    <div class="book-consultation-img-container">
        <img src="/img/agenda_pro_logo.png" alt="">
    </div>

</div>