<div class="book-consultation-container">
    <p class="book-consultation-title">Ahora podes reservar vos mismo tu turno</p>
    <div class="h2-booking-title-container">
        <a href="./user/booking">Agendá tu turno</a>
    </div>
</div>