<div class="book-consultation-container">
    <div class="book-consultation-intro-container">
        <h2>Contáctanos</h2>
        <h3>Solicitá tu turno</h3>
    </div>
    
    <form action="" class="book-consultation-form">
        <div class="input-container">
            
            <input type="text" name="full_name" placeholder="Nombre">
        </div>
        <div class="input-container">
          
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="input-container">
          
            <input type="text" name="phone" placeholder="Teléfono">
        </div>
        <div class="input-container">
          
            <input type="text" name="title" placeholder="Titulo">
        </div>
        <div class="textarea-container">
            <textarea name="message" cols="22" rows="10" placeholder="Escribe tu mensaje"></textarea>
        </div>
        <div class="input-container checkbox-container">
            <input type="checkbox">
            <label for="suscribe-news">Suscribirse al newsletter</label>
        </div>
        <button class="send-question" type="submit">Enviar</button>
    </form>
</div>