<footer class="footer">
<<<<<<< HEAD
    <a href="#header-name" class="footer-brand-name">ALTER EGO</a>
    <a href="https:facebook.com">facebook</a>
    <ul class="footer-list">
=======
    <a href="#header-name" class="footer-brand-name"><img src="/img/ismile-logo.jpg" alt=""></a>
    <ul class="footer-list footer-first-row">
        <li class="footer-list-item">
            <a href="#" class="footer-link">
                Nosotros
            </a>
        </li>
        <li class="footer-list-item">
            <a href="#" class="footer-link">
                Servicios
            </a>
        </li>
>>>>>>> cf1174574f24a3db80b5d10a2f122c9a22a951e1
        <li class="footer-list-item">
            <a href="#" class="footer-link">
                Productos
            </a>
        </li>
        <li class="footer-list-item">
            <a href="#" class="footer-link">
                Blog
            </a>
        </li>
        <li class="footer-list-item">
            <a href="#" class="footer-link">
                Imagenes
            </a>
        </li>
        <li class="footer-list-item">
            <a href="#" class="footer-link">
                Preguntas frecuentes
            </a>
        </li>
    </ul>
    <div class="footer-second-row">
        <ul class="second-footer-list footer-list">
            <li class="second-footer-item">
                <div class="footer-icon-container">
                    <i class='footer-icon bx bx-map'></i>
                    </svg>
                </div>
                <div class="desktop-footer-data-icon-container">
                    <p>Av. Santa Fé 2911 3ºF</p>
                    <p>Palermo, Buenos Aires</p>
                </div>
            </li>
            <li class="second-footer-item">
                <div class="footer-icon-container">
                    <i class='footer-icon bx bx-phone'></i>
                </div>
                <div class="desktop-footer-data-icon-container">
                    <p>11 2485 2020 - 4824 5430 </p>
                    <p>Llamanos</p>
                </div>
            </li>
            <li class="second-footer-item">
                <div class="footer-icon-container">
                    <i class='footer-icon bx bx-time-five'></i>
                </div>
                <div class="desktop-footer-data-icon-container">
                    <p>Horarios</p>
                    <p>Palermo, Buenos Aires</p>
                </div>
            </li>
            <div class="mobile-footer-data-icon-container">
                <div class="x-container">
                    <i class='bx bx-x'></i>
                </div>
                <p>Av. Santa Fé 2911 3ºF</p>
                <p>Palermo, Buenos Aires</p>
            </div>
            <div class="mobile-footer-data-icon-container">
                <div class="x-container">
                    <i class='bx bx-x'></i>
                </div>
                <p>Telefono</p>
                <p>11 2485 2020 - 4824 5430 </p>
            </div>
            <div class="mobile-footer-data-icon-container">
                <div class="x-container">
                    <i class='bx bx-x'></i>
                </div>
                <p>Horarios</p>
                <p>Lun. a Vier. 10am a 7pm</p>
            </div>
        </ul>
    </div>

</footer>