<footer class="footer">

    <div class="footer-background-container footer-background-top">
        <img src="/img/goldBackground.png" alt="footer-gold-background">
    </div>

    <!-- <div class="footer-logo-container">
        <a href="#header-name" class="footer-brand-name"><img class="footer-logo" src="/img/logo.png" alt="footer-logo"></a>
    </div> -->


    <ul class="footer-list footer-first-row">
        <li class="footer-list-item">
            <a href="#us" class="footer-link">
                NOSOTROS
            </a>
        </li>
        <li class="footer-list-item">
            <a href="#services" class="footer-link">
                SERVICIOS
            </a>
        </li>
        <li class="footer-list-item">
            <a href="/product" class="footer-link">
                PRODUCTOS
            </a>
        </li>
        <li class="footer-list-item">
            <a href="#" class="footer-link">
                BLOG
            </a>
        </li>
        <li class="footer-list-item">
            <a href="#" class="footer-link">
                IMAGENES
            </a>
        </li>
        <li class="footer-list-item">
            <a href="/preguntas-frecuentes" class="footer-link">
                PREGUNTAS FRECUENTES
            </a>
        </li>
    </ul>
    <div class="footer-second-row">
        <ul class="second-footer-list footer-list">
            <li class="second-footer-item">
                <div class="footer-icon-container">
                    <i class='footer-icon bx bx-map'></i>
                </div>
                <div class="desktop-footer-data-icon-container">
                    <p>Av. Santa Fé 2911 3ºF</p>
                    <p>Palermo, Buenos Aires</p>
                </div>
            </li>
            <li class="second-footer-item">
                <div class="footer-icon-container">
                    <i class='footer-icon bx bx-phone'></i>
                </div>
                <div class="desktop-footer-data-icon-container">
                    <p>11-2485-2020 - 11-4824-5430 </p>
                    <p>Llamanos</p>
                </div>
            </li>
            <li class="second-footer-item">
                <div class="footer-icon-container">
                    <i class='footer-icon bx bx-time-five'></i>
                </div>
                <div class="desktop-footer-data-icon-container">
                    <p>Horarios</p>
                    <p>Lun. a Vier. 10am - 7pm</p>
                </div>
            </li>
    </div>

    
    <div class="footer-background-container footer-background-bottom">
        <img src="/img/goldBackground.png" alt="footer-gold-background">
    </div>
</footer>
<div class="mobile-footer-data-icon-container">
    <p class="footer-popup-title">UBICACION</p>
    <div class="footer-data-x-container">
        <i class='bx bx-x close-footer-data'></i>
    </div>
    <div class="address-detail footer-popup-detail-row">Av. Santa Fé 2911 3ºF</div>
    <a href="https://goo.gl/maps/2B6vq7okjnwxUYZY9" target="_blank" class="open-map mobile-footer-btn">Abrir en Google Maps<i class='bx bx-map' ></i></a>
</div>
<div class="mobile-footer-data-icon-container">
    <div class="footer-data-x-container">
        <i class='bx bx-x close-footer-data'></i>
    </div>
    <p class="footer-popup-title">CONTACTO</p>
    <div class="phone-detail footer-popup-detail-row mobile-number-container">
        
            <!-- <span class="bold">Wpp:</span> -->
            <p class="phone">11-2485-2020</p><i class='bx bxl-whatsapp'></i>
    </div>
    <div class="phone-detail footer-popup-detail-row phone-number-container">
        
            <!-- <span class="bold">Tel:</span> -->
            <p class="phone">11-4824-5430</p><i class='bx bx-phone call-phone-number' ></i>
        
    </div>
</div>
<div class="mobile-footer-data-icon-container">
    <p class="footer-popup-title">HORARIOS</p>
    <div class="footer-data-x-container">
        <i class='bx bx-x close-footer-data'></i>
    </div>
    <div class="mobile-footer-data-content">
        <p>Horarios</p>
        <p>Lun. a Vier. 10am a 7pm</p>
    </div>
   
</div>