<header class="header"> <!--TODO: agregar el menu como nos lo pida-->
    <nav class="nav-bar-section">
        <div class="nav-start">
            <i class="fa-solid fa-bars open-menu-button"></i><!--  -->
            
        </div>

        <a href="/" class="brand-name" id="header-name"><img src="/img/logo.png" alt="" class="header-logo"></a>
        <div class="nav-end">
            <div class="shopping-cart-container">
                <i class='bx bx-shopping-bag open-popup-cart-btn'></i>
                <!-- <i class="fa-solid fa-bag-shopping"></i> -->
                <p class="products-quantity">5</p>
            </div>
            <% if (locals.isLogged) { %> <!-- Si esta loggeado...-->
                <div class="user-logged-container">
                    <p class="user-logged-name login-menu-btn-desktop">Hola, <%= locals.userLogged.name %>
                    </p>
                    <div class="logged-menu-container">
                        <ul class="logged-menu-list">
                            <% if (userLogged.user_categories_id==1) { %>
                                <li class="logged-menu-list-item"><a href="/admin/createProduct">Crear Producto</a></li>
                                <% } %>
                                    <li class="logged-menu-list-item"><a href="#">Perfil</a></li>
                                    <li class="logged-menu-list-item"><a href="/user/logout">Cerrar Sesion</a></li>
                        </ul>
                    </div>
                </div>

                <% }else{ %> <!-- Si no esta loggeado...-->
                    <i class="fa-regular fa-user login-toggler login-toggler-desktop"></i>
                <% } %>
                    
                    <i class="fa-solid fa-magnifying-glass open-search-form-button"></i>
                </div>
    </nav>

</header>
<div class="side-navbar-container popup">
    <div class="close-button-container">
        <i class="fa-solid fa-x burguer-menu-btn close-menu-button"></i>
    </div>
    <ul class="burguer-menu-category-list">
        <% if (locals.isLogged) { %>
            <li class="burguer-menu-category mobile-category">
                <a href="#" class="category-link">
                    <i class="fa-regular fa-user login-toggler logged-logo-mobile"></i>
                    Hola, <%= locals.userLogged.name %>!
                </a>
                <ul class="burguer-menu-option-list">
                    <li class="burguer-menu-option"><a href="#">Ver Perfil</a></li>
                    <% if (userLogged.user_categories_id!=1) { %>
                        <li class="burguer-menu-option"><a href="#">Ver Wishlist</a></li>
                        <li class="burguer-menu-option"><a href="#">Ir al Carro</a></li>
                        <% } %>
                 <li class="burguer-menu-option"><a href="/user/logout">Cerrar sesion</a></li>
                </ul>
            </li>
            <% } else{%>
                <li class="burguer-menu-category mobile-category">
                    <a href="#" class="category-link">
                        <i class="fa-regular fa-user login-toggler logged-logo-mobile"></i>
                        INGRESAR
                    </a>
                    <ul class="burguer-menu-option-list">
                        <li class="burguer-menu-option login-toggler"><a href="#">Iniciar Sesion</a></li>
                        <li class="burguer-menu-option open-registration-btn"><a href="#">Crear cuenta</a></li>
                    </ul>
                </li>
                <% } %>
                    <li class="burguer-menu-category">
                        <a href="#" class="category-link">PRODUCTOS</a>
                        <ul class="burguer-menu-option-list">
                            <li class="burguer-menu-option"><a href="/test/list">Ver Todo</a></li>
                        </ul>
                    </li>
                    <li class="burguer-menu-category">
                        <a href="#" class="category-link">ALTER EGO</a>
                        <ul class="burguer-menu-option-list">
                            <li class="burguer-menu-option"><a href="#">Quienes Somos</a></li>
                            <li class="burguer-menu-option"><a href="#">Packaging</a></li>
                            <li class="burguer-menu-option"><a href="#">Delivery</a></li>
                            <li class="burguer-menu-option"><a href="#">Experiencias ALTER EGO</a></li>
                            <li class="burguer-menu-option"><a href="#">Gift Cards</a></li>
                            <li class="burguer-menu-option"><a href="#">Registrate</a></li>
                            <li class="burguer-menu-option"><a href="#">Preguntas Frecuentes</a></li>
                            <li class="burguer-menu-option"><a href="#">Citas</a></li>
                        </ul>
                    </li>
    </ul>
    <div class="burger-menu-info-container">

        <div class="burger-menu-item-container">
            <a href="#">
                <i class="fa-solid fa-location-dot"></i>
                <span>#Direccion del local</span>
            </a>

        </div>

        <div class="burger-menu-item-container">
            <a href="#">
                <i class='bx bx-phone'></i>
                <span>+(549)11-2222-3333</span>
            </a>
        </div>


    </div>

</div>
<section class="search-section-container popup">
    <form action="/product/searchResult" method="POST" class="search-input-container">
        <i class="fa-solid fa-magnifying-glass search-logo"></i>
        <input type="text" class="search-input" placeholder="Buscar productos..." name="search" id="search-products-input">
        <input type="hidden" name="ids" id="ids-input"><!--IDS de los productos encontrados-->
        <i class="fa-solid fa-x close-search-form-button"></i>
    </form>
</section>
<section class="partial-product-section"></section>