<header class="header">
    <nav class="nav-bar-section">
        <div class="nav-start">
            <i class="fa-solid fa-bars open-menu-button"></i><!--  -->
            <i class="fa-solid fa-magnifying-glass open-search-form-button lupa-mobile"></i>
        </div>

        <a href="/" class="brand-name" id="header-name"><img src="/img/logo.png" alt="" class="header-logo"></a>
        <div class="nav-end">
            <div class="shopping-cart-container">
                <i class='bx bx-shopping-bag open-popup-cart-btn'></i>
                <!-- <i class="fa-solid fa-bag-shopping"></i> -->
                <p class="products-quantity">5</p>
            </div>
            <!-- <% if (1==0) { %> Si esta loggeado... -->
                <div class="user-logged-container">
                    <p class="user-logged-name login-menu-btn-desktop">Hola, <%= locals.userLogged.name %>
                    </p>
                    <div class="logged-menu-container">
                        <ul class="logged-menu-list">
                            <% if (userLogged.user_categories_id==1) { %>
                                <li class="logged-menu-list-item"><a href="/admin/createProduct">Crear Producto</a></li>
                                <% } %>
                                    <li class="logged-menu-list-item"><a href="#">Perfil</a></li>
                                    <li class="logged-menu-list-item"><a href="/user/logout">Cerrar Sesion</a></li>
                        </ul>
                    </div>
                </div>

                <% }else{ %> <!-- Si no esta loggeado...-->
                    <i class="fa-regular fa-user login-toggler login-toggler-desktop"></i>
                <% } %>
                    
                    <i class="fa-solid fa-magnifying-glass open-search-form-button lupa-desktop"></i>
                </div>
    </nav>

</header>
<%- include('./navbar.ejs') %>
<%- include('./bookConsultation.ejs') %>
<section class="search-section-container popup">
    <form action="/product/searchResult" method="POST" class="search-input-container">
        <i class="fa-solid fa-magnifying-glass search-logo"></i>
        <input type="text" class="search-input" placeholder="Buscar productos..." name="search" id="search-products-input">
        <input type="hidden" name="ids" id="ids-input"><!--IDS de los productos encontrados-->
        <i class="fa-solid fa-x close-search-form-button"></i>
    </form>
</section>
<section class="partial-product-section"></section>