<form method="POST" class="login-popup user-options-popup-option">
    <div class="login-field">
        <label for="email" class="bold">Email</label>
        <input type="text" id="email" class="input" placeholder="Ingrese su Email" name="email">
    </div>
    <div class="login-field">
        <label for="password" class="bold">Contraseña</label>
        <input type="text" id="password" class="input" placeholder="Ingrese su Contraseña" name="password">
    </div>
    <div class="button-container">
        <button class="login-button bold">Iniciar Sesion</button>

    </div>
</form>