<form action="/user/login" method="POST" class="login-popup user-options-popup-option <%= locals.loginErrors && 'translate-option-left' %>">
    <div class="login-field">
        <label for="login-email" class="bold">Email</label>
        <input type="text" id="login-email" class="input" placeholder="Ingrese su Email" name="email">
    </div>
    <div class="login-field pass-field">
        <label for="login-password" class="bold">Contrase침a</label>
        <input type="password" id="login-password" class="input" placeholder="Ingrese su Contrase침a" name="password">
        <i class="fa-solid fa-eye show-password-btn password-btn-toggler"></i>
        <i class="fa-solid fa-eye-slash hide-password-btn password-btn-toggler hidden"></i>
        <p class="forget-password-btn">Olvide mi contrase침a</p>
    </div>
    <% if (locals.loginErrors) { %>
        <p class="error-msg">Los datos ingresados no son v치lidos.</p>
    <% } %>
    <div class="button-container">
        <button type="submit" class="login-button bold">Iniciar Sesion</button>
    </div>
</form>
<section class="forget-password-section">
    <p class="forget-password-section-title">Por favor, ingrese el mail asociado a su cuenta</p>
    <input type="email" id="user-forget-password-email">
    <button class="forget-password-link">Recuperar</button>
</section>