<div class="navbar-container">

    <div class="close-menu-btn-container">
        <i class='bx bx-x close-menu-btn'></i>
    </div>

   <nav class="navbar">
        <ul>
            <li class="navbar-list-item"><a href="#">Nosotros</a></li>
            <li class="navbar-list-item"><a href="#">Servicios</a></li>
            <li class="navbar-list-item"><a href="#">Productos</a></li>
            <li class="navbar-list-item"><a href="#">Blog</a></li>
            <li class="navbar-list-item"><a href="#">Imagenes</a></li>
            <li class="navbar-list-item"><a href="#">Preguntas frecuentes</a></li>
        </ul>
   </nav>
</div>