<div class="navbar-container">

    <div class="close-menu-btn-container">
        <i class='bx bx-x close-menu-btn'></i>
    </div>

   <nav class="navbar">
        <ul>
            <li class="navbar-list-item"><a href="#us">Nosotros</a></li>
            <li class="navbar-list-item item-dropdown">
                <div class="item-dropdown-visible-part">
                    <p>Servicios</p>
                    <i class='bx bx-chevron-down'></i>
                </div>  
                    <ul class="dropdown-items-container">
                        <li class="dropdown-list-item">Estética facial</li>
                        <li class="dropdown-list-item">Estetica corporal</li>
                        <li class="dropdown-list-item">Medicina regenerativa</li>
                        <li class="dropdown-list-item">Nutrición</li>
                        <li class="dropdown-list-item">Odontología</li>
                    </ul>
            </li>
            <li class="navbar-list-item"><a href="#">Productos</a></li>
            <li class="navbar-list-item"><a href="#">Blog</a></li>
            <li class="navbar-list-item"><a href="#">Imagenes</a></li>
            <li class="navbar-list-item"><a href="#">Preguntas frecuentes</a></li>
        </ul>
   </nav>
</div>