<ul class="password-requirements-list">
    <li class="password-requirements-item">Caracteres mínimos: 6</li>
    <li class="password-requirements-item">Mínimo una mayúscula</li>
    <li class="password-requirements-item">Mínimo un número</li>
</ul>