<form action="/user/regist" method="POST" class="regist-popup user-options-popup-option <%= locals.registErrors && 'translate-option-left' %>">
    <div class="regist-field">
        <label for="register-email" class="bold">Email</label>
        <input type="text" id="register-email" class="input" placeholder="Ingrese su Email" name="email">
    </div>
    <div class="regist-field pass-field">
        <label for="register-password" class="bold">Contrase単a</label>
        <input type="password" id="register-password" class="input" placeholder="Ingrese su Contrase単a" name="password">
        <i class="fa-solid fa-eye show-password-btn password-btn-toggler"></i>
        <i class="fa-solid fa-eye-slash hide-password-btn password-btn-toggler hidden"></i>
    </div>
    <div class="regist-field pass-field">
        <label for="register-re-password" class="bold">Confirmar contrase単a</label>
        <input type="password" id="register-re-password" class="input" placeholder="Ingrese su Contrase単a" name="re-password">
        <i class="fa-solid fa-eye show-password-btn password-btn-toggler"></i>
        <i class="fa-solid fa-eye-slash hide-password-btn password-btn-toggler hidden"></i>
    </div>
    <% if (locals.registErrors) { %>
        <p class="error-msg"><%= registErrors.msg %></p>
    <% } %>
    <div class="button-container">
        <button class="regist-button bold">Registrarse</button>
    </div>
</form>