<div class="add-to-cart-container popup">
    <div class="quick-add-cart-title">
        <h2>Agregado al Carro</h2>
        <i class='bx bx-x  close-cart-menu close-add-to-cart-menu'></i>
    </div>
    <div class="product-selected-container">
        <div class="product-selected-card">
            <div class="product-selected-img-container">
                <img src="/img/products/handbags/cartera1.avif" alt="product-image" class="product-selected-img">
            </div>
            <div class="product-selected-info-qty-container">
                <div class="product-selected-name-remove-container">
                    <p class="product-selected-name">Cartera 10</p>
                    <button class="product-selected-remove-btn"></i><i class='bx bx-x  close-cart-menu close-add-to-cart-menu'></i></button>
                </div>
                <p class="product-selected-color-size">Beige / M</p>
                <div class="product-selected-quantity-container">
                    <span class="item-total-prefix">US$ </span><p class="item-total">140</p>
                    <div class="current-quantity-container">
                        <i class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                        <p class="current-quantity">1</p>
                        <i class='bx bx-plus add-one-same-product'></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-to-cart-buttons-container">
            <button class="checkout-btn">Seguir Comprando</button>
            <button class="view-bag-btn">Ver Carro</button>
        </div>
    </div>
</div>
<div class="cart-popup-container popup">
    <div class="cart-popup-title">
        <i class='bx bx-x close-cart-menu close-popup-cart-btn'></i>
        <h2>CARRO DE COMPRAS</h2>
        <i class='bx bx-shopping-bag'>3</i>
    </div>
    <div class="cart-products-section">
        <div class="cart-product-card" data-productid= "10">
            <div class="cart-product-img-container">
                <img src="/img/products/handbags/cartera1.avif" alt="product-image" class="cart-product-selected-img">
            </div>
            <div class="cart-product-selected-info-qty-container">
                <div class="cart-product-selected-name-remove-container">
                    <p class="cart-product-selected-name">Cartera 10</p>
                    <button class="cart-product-selected-remove-btn"><i class='bx bx-x remove-cart-product-btn' data-productid= "10"></i>
                    </button>
                </div>
                <p class="cart-product-selected-color-size">Beige / M</p>
                <div class="cart-product-selected-quantity-container">
                    <div class="current-quantity-container">
                        <i class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                        <p class="current-quantity">1</p>
                        <i class='bx bx-plus add-one-same-product'></i>
                    </div>
                    <span class="item-total-prefix">US$</span><p class="item-total">110</p>
                </div>
            </div>
        </div>
        <div class="cart-product-card" data-productid= "11">
            <div class="cart-product-img-container">
                <img src="/img/products/handbags/cartera1.avif" alt="product-image" class="cart-product-selected-img">
            </div>
            <div class="cart-product-selected-info-qty-container">
                <div class="cart-product-selected-name-remove-container">
                    <p class="cart-product-selected-name">Cartera 10</p>
                    <button class="cart-product-selected-remove-btn"><i class='bx bx-x remove-cart-product-btn' data-productid= "11"></i>
                    </button>
                </div>
                <p class="cart-product-selected-color-size">Beige / M</p>
                <div class="cart-product-selected-quantity-container">
                    <div class="current-quantity-container">
                        <i class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                        <p class="current-quantity">1</p>
                        <i class='bx bx-plus add-one-same-product'></i>
                    </div>
                    <span class="item-total-prefix">US$</span><p class="item-total">120</p>
                </div>
            </div>
        </div>
        <div class="cart-product-card" data-productid= "12">
            <div class="cart-product-img-container">
                <img src="/img/products/handbags/cartera1.avif" alt="product-image" class="cart-product-selected-img">
            </div>
            <div class="cart-product-selected-info-qty-container">
                <div class="cart-product-selected-name-remove-container">
                    <p class="cart-product-selected-name">Cartera 10</p>
                    <button class="cart-product-selected-remove-btn"><i class='bx bx-x remove-cart-product-btn' data-productid= "12"></i>
                    </button>
                </div>
                <p class="cart-product-selected-color-size">Beige / M</p>
                <div class="cart-product-selected-quantity-container">
                    <div class="current-quantity-container">
                        <i class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                        <p class="current-quantity">1</p>
                        <i class='bx bx-plus add-one-same-product'></i>
                    </div>
                    <span class="item-total-prefix">US$</span><p class="item-total">105</p>
                </div>
            </div>
        </div>
        <div class="cart-product-card" data-productid= "13">
            <div class="cart-product-img-container">
                <img src="/img/products/handbags/cartera1.avif" alt="product-image" class="cart-product-selected-img">
            </div>
            <div class="cart-product-selected-info-qty-container">
                <div class="cart-product-selected-name-remove-container">
                    <p class="cart-product-selected-name">Cartera 10</p>
                    <button class="cart-product-selected-remove-btn"><i class='bx bx-x remove-cart-product-btn' data-productid= "13"></i>
                    </button>
                </div>
                <p class="cart-product-selected-color-size">Beige / M</p>
                <div class="cart-product-selected-quantity-container">
                    <div class="current-quantity-container">
                        <i class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                        <p class="current-quantity">1</p>
                        <i class='bx bx-plus add-one-same-product'></i>
                    </div>
                    <span class="item-total-prefix">US$</span><p class="item-total">100</p>
                </div>
            </div>
        </div>






    </div>
    <div class="cart-end-section">
        <div class="subtotal-container">
            <p>Subtotal</p>
            <span class="order-total-prefix">US$</span><p class="order-total">116</p>
        </div>
        <div class="quick-checkout-container">
            <button class="checkout-btn"><a href="/user/checkout">CHECKOUT</a></button>
            <button class="view-bag-btn">VIEW BAG</button>
        </div>
    </div>



</div>