<div class="add-to-cart-container popup hidden">
    <div class="quick-add-cart-title">
        <h2>Agregado al Carro</h2>
        <i class='bx bx-x  close-cart-menu close-add-to-cart-menu'></i>
    </div>
    <div class="product-selected-container">
        <div class="product-selected-card">
            <div class="product-selected-img-container">
                <img src="/img/product1.png" alt="product-image" class="product-selected-img">
            </div>
            <div class="product-selected-info-qty-container">
                <div class="product-selected-name-remove-container">
                    <p class="product-selected-name">Crema Antiage</p>
                </div>
                <div class="product-selected-quantity-container">
                    <p class="item-total"><span class="item-total-prefix">$</span>5000</p>
                    <!-- <div class="current-quantity-container">
                        <i class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                        <p class="current-quantity">1</p>
                        <i class='bx bx-plus add-one-same-product'></i>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="add-to-cart-buttons-container">
            <button class="checkout-btn close-cart-menu">Seguir Comprando</button>
            <a href="/user/checkout" class="view-bag-btn">Ver Carro</a>
        </div>
    </div>
</div>
