<div class="add-to-cart-container popup hidden">
    <div class="quick-add-cart-title">
        <h2 class="bold">Agregado al Carro</h2>
        <i class='bx bx-x  close-cart-menu close-add-to-cart-menu'></i>
    </div>
    <div class="product-selected-container">
        <div class="product-selected-card"></div>
        <div class="add-to-cart-buttons-container">
            <button class="checkout-btn close-cart-menu bold">Seguir Comprando</button>
            <a href="/user/checkout" class="view-bag-btn bold">Ver Carro</a>
        </div>
    </div>
</div>
