<div class="add-to-cart-container popup">
    <div class="quick-add-cart-title">
        <h2>Agregado al Carro</h2>
        <i class='bx bx-x  close-cart-menu close-add-to-cart-menu'></i>
    </div>
    <div class="product-selected-container">
        <div class="product-selected-card">
            <div class="product-selected-img-container">
                <img src="/img/products/product1.png" alt="product-image" class="product-selected-img">
            </div>
            <div class="product-selected-info-qty-container">
                <div class="product-selected-name-remove-container">
                    <p class="product-selected-name">Crema Antiage</p>
                </div>
                <div class="product-selected-quantity-container">
                    <p class="item-total"><span class="item-total-prefix">$</span>5000</p>
                    <div class="current-quantity-container">
                        <i class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                        <p class="current-quantity">1</p>
                        <i class='bx bx-plus add-one-same-product'></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-to-cart-buttons-container">
            <button class="checkout-btn close-cart-menu">Seguir Comprando</button>
            <button class="view-bag-btn">Ver Carro</button>
        </div>
    </div>
</div>
<div class="cart-popup-container popup">
    <div class="cart-popup-title">
        <i class='bx bx-x close-cart-menu close-popup-cart-btn'></i>
        <h2>CARRO DE COMPRAS</h2>
        <i class='bx bx-shopping-bag'>3</i>
    </div>
    <div class="cart-products-section">
        <div class="cart-product-card" data-productid= "10">
            <div class="cart-product-img-container">
                <img src="/img/products/product1.png" alt="product-image" class="cart-product-selected-img">
            </div>
            <div class="cart-product-selected-info-qty-container">
                <div class="cart-product-selected-name-remove-container">
                    <p class="cart-product-selected-name">Crema anti age</p>
                    <button class="cart-product-selected-remove-btn"><i class='bx bx-x remove-cart-product-btn' data-productid= "10"></i>
                    </button>
                </div>
                <div class="cart-product-selected-quantity-container">
                    <div class="current-quantity-container">
                        <i class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                        <p class="current-quantity">1</p>
                        <i class='bx bx-plus add-one-same-product'></i>
                    </div>
                    <p class="item-total"><span class="item-total-prefix">$</span>5000</p>
                </div>
            </div>
        </div>
        <div class="cart-product-card" data-productid= "10">
            <div class="cart-product-img-container">
                <img src="/img/products/product2.png" alt="product-image" class="cart-product-selected-img">
            </div>
            <div class="cart-product-selected-info-qty-container">
                <div class="cart-product-selected-name-remove-container">
                    <p class="cart-product-selected-name">Crema anti arrugas</p>
                    <button class="cart-product-selected-remove-btn"><i class='bx bx-x remove-cart-product-btn' data-productid= "10"></i>
                    </button>
                </div>
                <div class="cart-product-selected-quantity-container">
                    <div class="current-quantity-container">
                        <i class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                        <p class="current-quantity">1</p>
                        <i class='bx bx-plus add-one-same-product'></i>
                    </div>
                    <p class="item-total"><span class="item-total-prefix">$</span>4000</p>
                </div>
            </div>
        </div>
        <div class="cart-product-card" data-productid= "10">
            <div class="cart-product-img-container">
                <img src="/img/products/product3.png" alt="product-image" class="cart-product-selected-img">
            </div>
            <div class="cart-product-selected-info-qty-container">
                <div class="cart-product-selected-name-remove-container">
                    <p class="cart-product-selected-name">Crema humectante</p>
                    <button class="cart-product-selected-remove-btn"><i class='bx bx-x remove-cart-product-btn' data-productid= "10"></i>
                    </button>
                </div>
                <div class="cart-product-selected-quantity-container">
                    <div class="current-quantity-container">
                        <i class='bx bx-minus item-quantity-btn substract-item-quantity'></i>
                        <p class="current-quantity">1</p>
                        <i class='bx bx-plus add-one-same-product'></i>
                    </div>
                    <p class="item-total"><span class="item-total-prefix">$</span>3100</p>
                </div>
            </div>
        </div>
        

    </div>
    <div class="cart-end-section">
        <div class="subtotal-container">
            <p>Subtotal</p>
            <p class="order-total"><span class="order-total-prefix">$</span>15000</p>
        </div>
        <div class="quick-checkout-container">
            <button class="checkout-btn"><a href="/user/checkout">CHECKOUT</a></button>
        </div>
    </div>



</div>