<section class="user-options-popup">
    <div class="user-options-header">
        <p class="user-options-brand-logo">ALTER EGO</p>
    </div>
    <div class="user-options-buttons-container">
        <div class="user-options-button-field">
            <button class="user-options-button" id="user-options-login-btn">Iniciar Sesion</button>
        </div>
        <div class="user-options-button-field">
            <button class="user-options-button" id="user-options-register-btn">Registrate</button>
        </div>
        <div class="user-options-button-field">
            <button class="user-options-button trigger-user-options-btn" id="continue-as-guest-btn">Continuar como invitado</button>
        </div>
    </div>
    <i class="fa-solid fa-x close-user-options-popup trigger-user-options-btn"></i>
</section>