<section class="user-options-popup <%= (locals.loginErrors || locals.registErrors) && 'user-options-popup-active'%>">
    <div class="user-options-first-column user-options-popup-option <%= (locals.loginErrors || locals.registErrors) && 'translate-option-left' %>">
        <div class="user-options-header">
            <div class="user-options-logo-container"><img src="/img/logo.png" alt="header-logo" class="header-logo"></div>
        </div>
        <div class="user-options-buttons-container">
            <div class="user-options-button-field">
                <button class="user-options-button regist-trigger-btn" id="user-options-register-btn">Registrate Ahora</button>
            </div>
            <label>¿Ya estas registrado?</label>
            <div class="user-options-button-field">
                <button class="user-options-button login-trigger-btn" id="user-options-login-btn">Iniciar Sesion</button>
            </div>
        </div>
    </div>
    <i class="fa-solid fa-x close-user-options-popup trigger-user-options-btn"></i>
    <i class="fa-solid fa-arrow-left back-user-option-btn"></i>
    <%- include('./login.ejs') %>
    <%- include('./register.ejs') %>
</section>