<div class="wishlist-popup-container popup">
    <div class="wishlist-popup-title">
        <i class='bx bx-x close-wishlist-menu close-popup-wishlist-btn'></i>
        <h2>Wishlist</h2>
        <div class="heart-logo-container">
            <i class='bx bx-heart'></i>
            <p class="wishlist-quantity-number"></p>
        </div>
    </div>
    <div class="wishlist-products-section"></div>
</div>