<% if (locals.isLogged && (userLogged['user_categories_id']!=1 && userLogged['user_categories_id']!=2) || !locals.isLogged) { %> <!--Si NO es admin le meto el wpp-->
  <a href="https://api.whatsapp.com/send?phone=5491124852020" target="_blank" class="whatsapp-link">
    <img src="/img/WhatsApp-Logo.png" alt="WhatsApp">
  </a>
<% } %>
