html {
    -webkit-print-color-adjust: exact;
}

/* MEDIDAS IPAD 9na Gen width: 1080px aprox*/
@page {
    size: A4;
    /* Puedes utilizar otros valores como "letter", "legal", "A3", etc. */
    /* Opciones adicionales para controlar los márgenes de la página */
}

.hidden{
    display: none !important;
}
.bold{
    font-weight: 600;
}
/* MEDIDAS IPAD 9na Gen width: 1080px aprox*/

.header,
.form {
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 6rem;
    margin-top: 20px;
    margin-bottom: 40px;
}

.header-start {
    width: 80%;
    height: 100%;
    position: relative;
    background-color: #bc75f2;
    display: flex;
    align-items: center;
}

.header-description {
    width: 100%;
    font-size: 1.1rem;
    color: #fff;
    margin-left: 1rem;
}

.gradient-border {
    background: linear-gradient(to right, #663399, #cf74e6);
    position: absolute;
    width: 100%;
    bottom: 0;

}

.header-border {
    height: 10%;
}

.header-end {
    width: 20%;
    height: 100%;
}

.header-end img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FORM */
.patient-option-p {
    width: 40%;
    height: fit-content;
    
}

.long-input {
    width: 70%;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
    row-gap: 25px;
}

.form-label-container {
    position: relative;
    width: 100%;
    margin-top: 120px;
    height: fit-content;
}
.form-label-container-close{
    margin-top: 10px;
}
.form-label-container:first-child {
    margin-bottom: 1rem;
    margin-top: 0;
}
.form-label {
    padding-bottom: .5rem;
    font-size: 20px;
}

.form-sublabel {
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 8px;
    /* margin-top: 0; */
}
.form-sublabel.form-sublabel-nothing-open {
    margin-top: 100px;
    margin-bottom: 8px;
    height: fit-content;
}
.form-sublabel.form-sublabel-more-margin{
    margin-top: 55px;
}
.form-border {
    height: .2rem;
}

.field {
    width: 47%;
    display: flex;
    align-items: center;
}

.field.clinical-field {
    width: 45%;
}

.field.clinical-field>label {
    width: 50%;
    margin-right: 5px;
}


.field.clinical-field>select {
    width: fit-content;
}

.field>label {
    width: 80%;
}

.further-options-field>label {
    width: fit-content;
}

.form input {
    border: none;
    outline: none;
    border-bottom: 1.5px solid #bc75f2;
}

.form select,
.form input {
    margin-left: .3vw;
}

.name-field,
.birth-field {
    width: 50%;
}

.name-field>label {
    width: 50%;
}


.gender-field label {
    width: fit-content;
}

.phone-field {
    width: 70%;
}

.phone-field label {
    width: 20%;
}

.phone-field input {
    width: 100%;
}

.email-field label {
    width: 20%;
}

.email-field input {
    width: 100%;
}

.address-field label {
    width: 30%;
}

/* Todo esto es para el campo de tratamientos previos, es medio unico porque tiene posibilidad de muchas cosas */
.field.treatment-field {
    /* position: absolute;
    right: 4%;
    top: 41%; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
}
.field.treatment-field .further-info{
    justify-content: space-evenly;
    height: 400px;
}
.field.treatment-field>label{
    width: fit-content;
}
.field.treatment-field .input-radio-container {
    width: 20%;
}

.further-options-field {
    width: 40%;
    display: flex;
    flex-wrap: wrap;

}

.add-field-container {
    width: 10%;
    margin-left: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-field-container .bx {
    font-size: 1.3rem;
    color: #000;
}

.further-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-bottom: 3px;
    align-items: center;
    align-content: center;
}
.further-info>label{
    margin-right: 10px;
}
.further-options-field .input-radio-container {
    flex-wrap: nowrap;
    width: 10%;
    align-items: center;
    margin-left: 5%;
}

.further-options-field .input-radio-container label {
    margin-left: .5rem;
}

.further-options-field .input-radio-container label,
.further-options-field .input-radio-container input {
    width: 22.5%;
    margin-left: 0;
    text-align: center;
}

.further-info-field-container {
    position: relative;
    width: 25%;
    border: 1px solid #bba059;
    border-radius: 1rem;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 150px;
    margin: 1rem 0;
    row-gap: 20px;
}

.further-info-field-container .field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
}

.further-info-field-container .field * {
    text-align: center;
    height: fit-content;
    margin: 0 !important;
}

.further-info-field-container .remove-field-container-btn {
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 1.2rem;
    color: #663399;

}

.input-radio-container {
    width: 15%;
    margin-left: .9vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.input-radio-container input {
    margin-left: 10%;
}

.input-radio-container label {
    font-size: .8rem;
}

.input-radio-container label,
.input-radio-container input {
    width: 40%;
}

/* Preguntas de mujer (100%) */
.women-only {
    width: 100%;
}

.women-only .input-radio-container * {
    text-align: center;
}

.women-only label {
    width: 40%;
}

.women-only .input-radio-container {
    width: 10%;
    margin: 0 1rem;
    align-items: center;
}

/* Face-treatments */
.face-treatments-field {
    width: 100%;
}

.face-treatments-field>label {
    width: fit-content;
}

.face-treatments-field>.input-radio-container input {
    margin-right: 1rem;
}

.face-treatments-further-info {
    border: 1px solid #bba059;
    border-radius: 1rem;
    /* padding: 10px; */
}

.face-treatments-further-info-title {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.checkbox-container {
    margin: 0 auto;
}

.checkbox-container label {
    margin-right: 1rem;
}


.field.text-area-field {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.text-area-field>label {
    width: 100%;
    margin-bottom: 5px;
}

.text-area-field textarea {
    resize: none;
    width: 100%;
    height: 75px;
    outline: none;
    border: none;
    border: 1px solid #bc75f2;
    margin-bottom: 0;
}

/* Para los campos que dice por favor especificar */
.field.specify-field {
    flex-wrap: wrap;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.consent-field{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
.consent-field label{
    width: 100%;
    text-align: center;
}
.consent-field .input-radio-container{
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-left: 0;
}
.consent-field .input-radio-container input{
    margin: 0;
}

.last-row {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.signature-field,
.date-field {
    width: 50%;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 0;
    /* height: fit-content;*/
    margin-top: 30px; 
}

.date-field {
    justify-content: flex-end;
    /* align-content: flex-end; */
}
.date-field .patient-option-p{
    height: fit-content;
}
.signature-field {
    /* height: 150px; */
    justify-content: flex-start;
    position: relative;
}

.signature-field label,
.date-field label {
    width: fit-content;
}


button {
    width: 40%;
    border: none;
    background-color: #fff;
    border: 1px solid #bba059;
    border-radius: 1rem;
    color: #000;
    padding: .8rem 0;
    margin-top: 5rem;
}

